In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#출력 그림 크기 조절
sns.set(rc={'figure.figsize':(12,12)})
plt.style.use('ggplot')
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

# for "5. Modeling with CatBoostRegressor"
from catboost import CatBoostRegressor
import optuna
from optuna import Trial
from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

In [2]:
# 데이터 로드
tr = pd.read_csv('data/train0726.csv')
te = pd.read_csv('data/test0723.fi.csv')

In [3]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 42 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   code              423 non-null    object
 1   tot_pop           423 non-null    int64
 2   region            423 non-null    int64
 3   num_empty         423 non-null    int64
 4   sub               423 non-null    int64
 5   bus               423 non-null    int64
 6   num_park          423 non-null    int64
 7   type_new          423 non-null    int64
 8   prop_type_im1     423 non-null    float64
 9   prop_type_im2     423 non-null    float64
 10  prop_type_im3     423 non-null    float64
 11  prop_type_im4     423 non-null    int64
 12  prop_type_im5     423 non-null    float64
 13  prop_type_im6     423 non-null    float64
 14  prop_type_im7     423 non-null    float64
 15  prop_type_im8     423 non-null    float64
 16  prop_type_im9     423 non-null    float64
 17  prop_type_im10    423 non-null    float64
 18  prop_type_qual1   423 non-null    float64
 19  prop_type_qual2   423 non-null    int64
 20  prop_type_qual3   423 non-null    float64
 21  prop_type_qual4   423 non-null    float64
 22  prop_type_qual5   423 non-null    float64
 23  prop_type_qual6   423 non-null    float64
 24  prop_type_qual7   423 non-null    float64
 25  prop_type_qual8   423 non-null    float64
 26  prop_type_qual9   423 non-null    float64
 27  prop_type_qual10  423 non-null    float64
 28  prop_type_qual11  423 non-null    float64
 29  prop_type_qual12  423 non-null    float64
 30  prop_type_qual13  423 non-null    float64
 31  prop_type_qual14  423 non-null    float64
 32  prop_areaL21      423 non-null    float64
 33  prop_areaL29      423 non-null    float64
 34  prop_areaL36      423 non-null    float64
 35  prop_areaL39      423 non-null    float64
 36  prop_areaL46      423 non-null    float64
 37  prop_areaL59      423 non-null    float64
 38  prop_areaU59      423 non-null    float64
 39  M_fee_deposit     423 non-null    float64
 40  M_fee_rent        423 non-null    int64
 41  target            423 non-null    int64
dtypes: float64(30), int64(11), object(1)
memory usage: 138.9+ KB

In [18]:
train.head()

,tot_pop,region,num_empty,sub,bus,num_park,type_new,prop_type_im1,prop_type_im2,prop_type_im3,...,prop_areaL21,prop_areaL29,prop_areaL36,prop_areaL39,prop_areaL46,prop_areaL59,prop_areaU59,M_fee_deposit,M_fee_rent,target
code,,,,,,,,,,,,,,,,,,,,,
C1000,-0.398507,16,-0.316018,-0.317882,-1.033173,-0.385825,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.428571,0.285714,0.285714,0.000000,-0.625121,-0.502383,481
C1004,-0.509383,15,-0.993593,-0.317882,-0.650147,-1.172528,1,0.0,0.0,0.0,...,0.526316,0.052632,0.157895,0.157895,0.000000,0.052632,0.052632,-0.323203,-0.587925,93
C1004,-0.509383,15,-0.993593,-0.317882,-0.650147,-1.172528,1,0.0,0.0,0.0,...,0.526316,0.052632,0.157895,0.157895,0.000000,0.052632,0.052632,-0.323203,-0.587925,93
C1005,1.025633,15,0.264760,-0.317882,1.648006,1.027482,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-0.497417,0.208369,376
C1013,1.429714,5,0.264760,-0.317882,0.881955,1.493983,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.200000,0.600000,0.200000,0.000000,0.048939,-0.447104,1665

### 4.2 Randomforest

In [4]:
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor

In [5]:
train = tr.set_index("code")
test = te.set_index("code")
# train["지역"] = train["지역"].astype('category').cat.codes
# test["지역"] = test["지역"].astype('category').cat.codes

In [6]:
train.head()

,tot_pop,region,num_empty,sub,bus,num_park,type_new,prop_type_im1,prop_type_im2,prop_type_im3,...,prop_areaL21,prop_areaL29,prop_areaL36,prop_areaL39,prop_areaL46,prop_areaL59,prop_areaU59,M_fee_deposit,M_fee_rent,target
code,,,,,,,,,,,,,,,,,,,,,
C1000,566,16,10,0,1,438,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.428571,0.285714,0.285714,0.000000,14404000.0,129640,481
C1004,521,15,3,0,2,153,1,0.0,0.0,0.0,...,0.526316,0.052632,0.157895,0.157895,0.000000,0.052632,0.052632,19000000.0,119860,93
C1004,521,15,3,0,2,153,1,0.0,0.0,0.0,...,0.526316,0.052632,0.157895,0.157895,0.000000,0.052632,0.052632,19000000.0,119860,93
C1005,1144,15,16,0,8,950,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,16348000.0,210900,376
C1013,1308,5,16,0,6,1119,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.200000,0.600000,0.200000,0.000000,24665000.0,135960,1665

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 423 entries, C1000 to C2692
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tot_pop           423 non-null    int64
 1   region            423 non-null    int64
 2   num_empty         423 non-null    int64
 3   sub               423 non-null    int64
 4   bus               423 non-null    int64
 5   num_park          423 non-null    int64
 6   type_new          423 non-null    int64
 7   prop_type_im1     423 non-null    float64
 8   prop_type_im2     423 non-null    float64
 9   prop_type_im3     423 non-null    float64
 10  prop_type_im4     423 non-null    int64
 11  prop_type_im5     423 non-null    float64
 12  prop_type_im6     423 non-null    float64
 13  prop_type_im7     423 non-null    float64
 14  prop_type_im8     423 non-null    float64
 15  prop_type_im9     423 non-null    float64
 16  prop_type_im10    423 non-null    float64
 17  prop_type_qual1   423 non-null    float64
 18  prop_type_qual2   423 non-null    int64
 19  prop_type_qual3   423 non-null    float64
 20  prop_type_qual4   423 non-null    float64
 21  prop_type_qual5   423 non-null    float64
 22  prop_type_qual6   423 non-null    float64
 23  prop_type_qual7   423 non-null    float64
 24  prop_type_qual8   423 non-null    float64
 25  prop_type_qual9   423 non-null    float64
 26  prop_type_qual10  423 non-null    float64
 27  prop_type_qual11  423 non-null    float64
 28  prop_type_qual12  423 non-null    float64
 29  prop_type_qual13  423 non-null    float64
 30  prop_type_qual14  423 non-null    float64
 31  prop_areaL21      423 non-null    float64
 32  prop_areaL29      423 non-null    float64
 33  prop_areaL36      423 non-null    float64
 34  prop_areaL39      423 non-null    float64
 35  prop_areaL46      423 non-null    float64
 36  prop_areaL59      423 non-null    float64
 37  prop_areaU59      423 non-null    float64
 38  M_fee_deposit     423 non-null    float64
 39  M_fee_rent        423 non-null    int64
 40  target            423 non-null    int64
dtypes: float64(30), int64(11)
memory usage: 138.8+ KB

In [8]:
from sklearn.preprocessing import RobustScaler, StandardScaler

In [9]:
scailing_features = ['tot_pop',
                     'num_park',
                     'sub',
                     'bus',
                     'num_empty',
                     'M_fee_deposit',
                     'M_fee_rent',
                    ]

scaler = StandardScaler()
train.loc[:, scailing_features] = scaler.fit_transform(train[scailing_features])
test.loc[:, scailing_features] = scaler.transform(test[scailing_features])

# Modeling with Gradient Boosting Regressor

- Setting Data For Model

In [10]:
X = train.drop(columns = ['target'])
y = train['target']

- Hyper params Tuning

In [11]:
def objective(trial: Trial) -> float:
    params_cat = {
        "random_state": 42,
        "learning_rate": 0.05,
        "n_estimators": 10000,
        "verbose" : 1,
        "objective" : "MAE",
        "max_depth": trial.suggest_int("max_depth", 1, 16),
        "colsample_bylevel": trial.suggest_float("colsample_bylevel", 0.8, 1.0),
        "subsample": trial.suggest_float("subsample", 0.3, 1.0),
        "min_child_samples": trial.suggest_int("min_child_samples", 5, 100),
        "max_bin": trial.suggest_int("max_bin", 200, 500),
    }
    
    X_tr, X_val, y_tr, y_val = train_test_split(X, y, test_size=0.2)

    model = CatBoostRegressor(**params_cat)
    model.fit(
        X_tr,
        y_tr,
        eval_set=[(X_tr, y_tr), (X_val, y_val)],
        early_stopping_rounds=10,
        verbose=False,
    )

    cat_pred = model.predict(X_val)
    log_score = mean_absolute_error(y_val, cat_pred)
    
    return log_score

In [12]:
sampler = TPESampler(seed=42)
study = optuna.create_study(
    study_name="cat_opt",
    direction="minimize",
    sampler=sampler,
)
study.optimize(objective, n_trials=10)
print("Best Score:", study.best_value)
print("Best trial:", study.best_trial.params)

[I 2021-07-28 23:16:04,629] A new study created in memory with name: cat_opt
[I 2021-07-28 23:16:05,143] Trial 0 finished with value: 112.03809606295968 and parameters: {'max_depth': 6, 'colsample_bylevel': 0.9901428612819833, 'subsample': 0.8123957592679836, 'min_child_samples': 62, 'max_bin': 246}. Best is trial 0 with value: 112.03809606295968.
[I 2021-07-28 23:16:05,274] Trial 1 finished with value: 146.60121341331973 and parameters: {'max_depth': 3, 'colsample_bylevel': 0.8116167224336399, 'subsample': 0.9063233020424546, 'min_child_samples': 62, 'max_bin': 413}. Best is trial 0 with value: 112.03809606295968.
[I 2021-07-28 23:16:05,451] Trial 2 finished with value: 148.2191696595863 and parameters: {'max_depth': 1, 'colsample_bylevel': 0.9939819704323989, 'subsample': 0.8827098485602951, 'min_child_samples': 25, 'max_bin': 254}. Best is trial 0 with value: 112.03809606295968.
[I 2021-07-28 23:16:05,701] Trial 3 finished with value: 97.69454325471706 and parameters: {'max_depth': 3, 'colsample_bylevel': 0.8608484485919076, 'subsample': 0.6673295021425665, 'min_child_samples': 46, 'max_bin': 287}. Best is trial 3 with value: 97.69454325471706.
[I 2021-07-28 23:16:08,043] Trial 4 finished with value: 147.75853211879885 and parameters: {'max_depth': 10, 'colsample_bylevel': 0.8278987721304084, 'subsample': 0.5045012539746527, 'min_child_samples': 40, 'max_bin': 337}. Best is trial 3 with value: 97.69454325471706.
[I 2021-07-28 23:16:19,603] Trial 5 finished with value: 168.04066068474756 and parameters: {'max_depth': 13, 'colsample_bylevel': 0.8399347564316719, 'subsample': 0.6599641068895281, 'min_child_samples': 61, 'max_bin': 213}. Best is trial 3 with value: 97.69454325471706.
[I 2021-07-28 23:16:22,000] Trial 6 finished with value: 138.51406362461123 and parameters: {'max_depth': 10, 'colsample_bylevel': 0.8341048247374584, 'subsample': 0.3455361150896956, 'min_child_samples': 96, 'max_bin': 490}. Best is trial 3 with value: 97.69454325471706.
[I 2021-07-28 23:16:32,854] Trial 7 finished with value: 115.05061297913012 and parameters: {'max_depth': 13, 'colsample_bylevel': 0.8609227538346742, 'subsample': 0.3683704798044687, 'min_child_samples': 70, 'max_bin': 332}. Best is trial 3 with value: 97.69454325471706.
[I 2021-07-28 23:16:33,020] Trial 8 finished with value: 164.04631078593854 and parameters: {'max_depth': 2, 'colsample_bylevel': 0.8990353820222541, 'subsample': 0.32407196478065287, 'min_child_samples': 92, 'max_bin': 277}. Best is trial 3 with value: 97.69454325471706.
[I 2021-07-28 23:16:35,589] Trial 9 finished with value: 131.86948442787914 and parameters: {'max_depth': 11, 'colsample_bylevel': 0.8623422152178822, 'subsample': 0.6640476148244676, 'min_child_samples': 57, 'max_bin': 255}. Best is trial 3 with value: 97.69454325471706.

Best Score: 97.69454325471706
Best trial: {'max_depth': 3, 'colsample_bylevel': 0.8608484485919076, 'subsample': 0.6673295021425665, 'min_child_samples': 46, 'max_bin': 287}

In [13]:
cat_p = {'max_depth': 3, 'colsample_bylevel': 0.8116167224336399, 'subsample': 0.9063233020424546, 'min_child_samples': 62, 'max_bin': 413}
cat = CatBoostRegressor(**cat_p)

- StratifiedK-Fold for Regression

In [14]:
y_cat = pd.cut(y, 10, labels=range(10))
skf = StratifiedKFold(5)

preds = []
for tr_id, val_id in skf.split(X, y_cat) : 
    X_tr = X.iloc[tr_id]
    y_tr = y.iloc[tr_id]
    
    cat.fit(X_tr, y_tr, verbose = 0)
    
    pred = cat.predict(test)
    preds.append(pred)
cat_pred = np.mean(preds, axis = 0)

In [15]:
sample = pd.read_csv('data/sample_submission.csv')
sample['num'] = cat_pred
sample.to_csv('sub/cat0728_1.csv', index=False)

In [16]:
sample

      code          num
0    C1072   726.046656
1    C1128  1226.144927
2    C1456   525.673811
3    C1840   509.887539
4    C1332  1151.665960
..     ...          ...
145  C2456   207.506841
146  C1266   420.746406
147  C2152    43.119708
148  C1267   343.387964
149  C2189    81.076421

[150 rows x 2 columns]