# 단기체류 외국인 유동인구_방문인구추출

In [1]:
library(dplyr)
단기<-read.csv('02-3_단기체류 외국인 유동인구.csv')
head(단기)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  base_date  time nationality city   emd_cd   emd_nm visit_pop_cnt
1 2018-01-01 1    CHN         제주시 50110250 한림읍  66.3170
2 2018-01-01 1    ETC         제주시 50110250 한림읍  21.1308
3 2018-01-01 1    HKG         제주시 50110250 한림읍   3.6771
4 2018-01-01 1    JPN         제주시 50110250 한림읍   5.5962
5 2018-01-01 1    USA         제주시 50110250 한림읍   3.9078
6 2018-01-01 1    CHN         제주시 50110253 애월읍 123.9840

In [2]:
단기1<-단기%>%
 group_by(base_date,emd_nm)%>%
 summarize(visit_pop_cnt=mean(visit_pop_cnt))
head(단기1)

  base_date  emd_nm visit_pop_cnt
1 2018-01-01 건입동 26.24815
2 2018-01-01 구좌읍 17.15403
3 2018-01-01 남원읍 20.77384
4 2018-01-01 노형동 53.63353
5 2018-01-01 대륜동 10.52381
6 2018-01-01 대정읍 13.71054

In [3]:
y<-cbind(단기1,y_m=substr(단기1$base_date,1,7))
단기2<-y%>%
 group_by(y_m,emd_nm)%>%
 summarize(visit_pop_cnt=sum(visit_pop_cnt))
head(단기2)
tail(단기2)

  y_m     emd_nm visit_pop_cnt
1 2018-01 건입동  554.1935
2 2018-01 구좌읍  451.7005
3 2018-01 남원읍 1686.0106
4 2018-01 노형동 1380.8967
5 2018-01 대륜동  420.8336
6 2018-01 대정읍  356.2630

  y_m     emd_nm visit_pop_cnt
1 2021-06 추자면 41.810643
2 2021-06 표선면 28.862430
3 2021-06 한경면 13.838063
4 2021-06 한림읍 28.297822
5 2021-06 화북동 10.453663
6 2021-06 효돈동  8.349887

In [4]:
단기3<-rename(단기2,location=emd_nm,visit_pop_cnt_sf=visit_pop_cnt)
head(단기3)

  y_m     location visit_pop_cnt_sf
1 2018-01 건입동    554.1935
2 2018-01 구좌읍    451.7005
3 2018-01 남원읍   1686.0106
4 2018-01 노형동   1380.8967
5 2018-01 대륜동    420.8336
6 2018-01 대정읍    356.2630

In [ ]:
write.csv(단기3,'단기방문인구.csv')

# 내국인 유동인구_방문인구추출

In [5]:
kor<-read.csv('02-1_내국인유동인구.csv')
head(kor)

ERROR: Error: 크기가 62.5 Mb인 벡터를 할당할 수 없습니다

In [ ]:
kor1<-subset(kor,resd=='그외')
head(kor1)

In [ ]:
kor2<-kor1%>%
 group_by(base_date,emd_nm,resd)%>%
 summarize(visit_pop_cnt=mean(visit_pop_cnt))
head(kor2)

In [ ]:
y<-cbind(kor2,date=substr(kor2$base_date,1,7))
kor3<-y%>%
 group_by(date,emd_nm)%>%
 summarize(visit_pop_cnt=sum(visit_pop_cnt))
head(kor3)
tail(kor3)

In [ ]:
kor4<-rename(kor3, y_m=date,location=emd_nm)

In [ ]:
write.csv(kor4,'내국인그외방문인구.csv')

# 장기체류 외국인유동인구_방문인구추출

In [ ]:
lf<-read.csv('02-2_장기체류 외국인 유동인구.csv')
head(lf)

In [ ]:
lf1<-subset(lf,resd=='그외')
head(lf1)

In [ ]:
lf2<-lf1%>%
 group_by(base_date,emd_nm,resd)%>%
 summarize(visit_pop_cnt=mean(visit_pop_cnt))
head(lf2)

In [ ]:
y<-cbind(lf2,date=substr(lf2$base_date,1,7))
lf3<-y%>%
 group_by(date,emd_nm)%>%
 summarize(visit_pop_cnt=sum(visit_pop_cnt))
head(lf3)
tail(lf3)

In [ ]:
lf4<-rename(lf3, y_m=date,location=emd_nm)

In [ ]:
write.csv(lf4,'장기그외방문인구.csv')

# 방문인구 병합(파이썬)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#출력 그림 크기 조절
sns.set(rc={'figure.figsize':(12,12)})
plt.style.use('ggplot')
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

ERROR: Error in parse(text = x, srcfile = src): <text>:1:8: 예상하지 못한 기호(symbol)입니다.
1: import pandas
           ^

In [7]:
df_1 = pd.read_csv('단기방문인구.csv', encoding = 'cp949')

ERROR: Error in pd.read_csv("단기방문인구.csv", encoding = "cp949"): 함수 "pd.read_csv"를 찾을 수 없습니다

In [ ]:
df_1 = df_1.drop("Unnamed: 0",axis=1)
df_1

In [ ]:
df_2 = pd.read_csv("내국인그외방문인구.csv",encoding = "cp949")

In [ ]:
df_2 = df_2.drop("Unnamed: 0",axis=1)
df_2

In [ ]:
df_m = pd.merge(df_1,df_2,how = "left", on = ["y_m",'location'])

In [ ]:
df_m

In [ ]:
#우도면 추자면 제외
df_m = df_m[df_m.location != "제주시_추자면"]
df_m = df_m[df_m.location != "제주시_우도면"]

In [ ]:
df_m.to_csv("단기_내국인.csv",encoding = "cp949",index=False)

# 방문인구 병합(R)