In [1]:
# 필요 라이브러리 로드
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#출력 그림 크기 조절
sns.set(rc={'figure.figsize':(12,12)})
plt.style.use('ggplot')
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
import warnings
warnings.filterwarnings("ignore")
import datetime as dt

# ### 세종사전 실행
# from konlpy.tag import Twitter
# from collections import Counter
# from wordcloud import WordCloud
# twitter = Twitter()

In [2]:
today = '0924'

In [3]:
df = pd.read_csv("original_data/국민청원_최종_20170817_20210817.csv",encoding = 'cp949')
df

,Class,Title,Date,Support
0,문화/예술/체육/언론,미국빌보드를 제패한 방탄소년단의 군면제를 청원합니다.,2021-08-15,23636
1,안전/환경,백화점 협력사원들의 인권을 존중해 주세요,2021-08-15,15892
2,미래,홍남기 부총리님 지지합니다,2021-08-15,4192
3,안전/환경,블랙아웃 거짓말탐지기 강제 도입 마련 및 거짓말탐지기 결과 채택을 청원합니다.,2021-08-15,3022
4,안전/환경,여름철 누진세 폐지 부탁드려요.,2021-08-15,2575
...,...,...,...,...
85780,육아/교육,기간제 교사의 정규직전환을 반대합니다.,2017-08-27,113
85781,경제민주화,소액주주를 보호해주십시오,2017-08-26,2137
85782,일자리,영어회화전문강사제도는 유지되어야합니다.,2017-08-26,1185
85783,일자리,공정한 기회 균등이 보장되는 사회,2017-08-26,144
85784,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,2017-08-26,53

In [4]:

for i in df.Class.unique():
    temp = df.loc[df.Class == i]
    temp = temp.sort_values(by = "Support",ascending = False)
    temp = temp.head(3)
    temp.Date = pd.to_datetime(temp.Date)
    temp["기간A시작"] = temp.Date -  dt.timedelta(days=61)
    temp["기간B시작"] = temp.Date - dt.timedelta(days=31)
    temp["기간C시작"] = temp.Date
    temp["기간C종료"] = temp.Date + dt.timedelta(days=31)
    display(temp)

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
4431,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.,2021-02-05,26068,2020-12-06,2021-01-05,2021-02-05,2021-03-08
32859,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?,2018-12-28,23515,2018-10-28,2018-11-27,2018-12-28,2019-01-28
4740,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...,2021-01-27,22304,2020-11-27,2020-12-27,2021-01-27,2021-02-27

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
14026,일자리,한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.,2020-03-27,383039,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9820,일자리,공기업 비정규직의 정규화 그만해주십오.,2020-07-23,352266,2020-05-23,2020-06-22,2020-07-23,2020-08-23
85185,일자리,취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다,2017-10-31,80291,2017-08-31,2017-09-30,2017-10-31,2017-12-01

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
72130,경제민주화,삼성증권 시스템 규제와 공매도 금지,2018-05-06,242286,2018-03-06,2018-04-05,2018-05-06,2018-06-06
6575,경제민주화,홍남기 기재부 장관 해임을 강력히 요청합니다,2020-11-04,242187,2020-09-04,2020-10-04,2020-11-04,2020-12-05
77767,경제민주화,경제민주화,2018-03-10,207772,2018-01-08,2018-02-07,2018-03-10,2018-04-10

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
17879,농산어촌,왜 어민이 농민보다 세금을 더 내야 합니까?,2019-09-01,28310,2019-07-02,2019-08-01,2019-09-01,2019-10-02
8177,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요),2020-09-12,24685,2020-07-13,2020-08-12,2020-09-12,2020-10-13
77700,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리...",2018-03-11,15603,2018-01-09,2018-02-08,2018-03-11,2018-04-11

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
83550,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.),2018-01-02,255554,2017-11-02,2017-12-02,2018-01-02,2018-02-02
82197,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?,2018-01-27,228295,2017-11-27,2017-12-27,2018-01-27,2018-02-27
2007,성장동력,은성수 금융위원장의 자진사퇴를 촉구합니다.,2021-05-23,201079,2021-03-23,2021-04-22,2021-05-23,2021-06-23

In [5]:
df_t = pd.DataFrame(columns=temp.columns)

In [6]:
for i in df.Class.unique():
    temp = df.loc[df.Class == i]
    temp = temp.sort_values(by = "Support",ascending = False)
    temp = temp.head(3)
    temp.Date = pd.to_datetime(temp.Date)
    temp["기간A시작"] = temp.Date -  dt.timedelta(days=61)
    temp["기간B시작"] = temp.Date - dt.timedelta(days=31)
    temp["기간C시작"] = temp.Date
    temp["기간C종료"] = temp.Date + dt.timedelta(days=31)
    df_t = pd.concat([df_t,temp])
    display(df_t)

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21
4431,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.,2021-02-05,26068,2020-12-06,2021-01-05,2021-02-05,2021-03-08
32859,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?,2018-12-28,23515,2018-10-28,2018-11-27,2018-12-28,2019-01-28
4740,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...,2021-01-27,22304,2020-11-27,2020-12-27,2021-01-27,2021-02-27

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21
4431,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.,2021-02-05,26068,2020-12-06,2021-01-05,2021-02-05,2021-03-08
32859,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?,2018-12-28,23515,2018-10-28,2018-11-27,2018-12-28,2019-01-28
4740,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...,2021-01-27,22304,2020-11-27,2020-12-27,2021-01-27,2021-02-27
14026,일자리,한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.,2020-03-27,383039,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9820,일자리,공기업 비정규직의 정규화 그만해주십오.,2020-07-23,352266,2020-05-23,2020-06-22,2020-07-23,2020-08-23
85185,일자리,취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다,2017-10-31,80291,2017-08-31,2017-09-30,2017-10-31,2017-12-01

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21
4431,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.,2021-02-05,26068,2020-12-06,2021-01-05,2021-02-05,2021-03-08
32859,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?,2018-12-28,23515,2018-10-28,2018-11-27,2018-12-28,2019-01-28
4740,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...,2021-01-27,22304,2020-11-27,2020-12-27,2021-01-27,2021-02-27
14026,일자리,한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.,2020-03-27,383039,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9820,일자리,공기업 비정규직의 정규화 그만해주십오.,2020-07-23,352266,2020-05-23,2020-06-22,2020-07-23,2020-08-23
85185,일자리,취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다,2017-10-31,80291,2017-08-31,2017-09-30,2017-10-31,2017-12-01
72130,경제민주화,삼성증권 시스템 규제와 공매도 금지,2018-05-06,242286,2018-03-06,2018-04-05,2018-05-06,2018-06-06
6575,경제민주화,홍남기 기재부 장관 해임을 강력히 요청합니다,2020-11-04,242187,2020-09-04,2020-10-04,2020-11-04,2020-12-05
77767,경제민주화,경제민주화,2018-03-10,207772,2018-01-08,2018-02-07,2018-03-10,2018-04-10

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21
4431,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.,2021-02-05,26068,2020-12-06,2021-01-05,2021-02-05,2021-03-08
32859,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?,2018-12-28,23515,2018-10-28,2018-11-27,2018-12-28,2019-01-28
4740,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...,2021-01-27,22304,2020-11-27,2020-12-27,2021-01-27,2021-02-27
14026,일자리,한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.,2020-03-27,383039,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9820,일자리,공기업 비정규직의 정규화 그만해주십오.,2020-07-23,352266,2020-05-23,2020-06-22,2020-07-23,2020-08-23
85185,일자리,취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다,2017-10-31,80291,2017-08-31,2017-09-30,2017-10-31,2017-12-01
72130,경제민주화,삼성증권 시스템 규제와 공매도 금지,2018-05-06,242286,2018-03-06,2018-04-05,2018-05-06,2018-06-06
6575,경제민주화,홍남기 기재부 장관 해임을 강력히 요청합니다,2020-11-04,242187,2020-09-04,2020-10-04,2020-11-04,2020-12-05
77767,경제민주화,경제민주화,2018-03-10,207772,2018-01-08,2018-02-07,2018-03-10,2018-04-10
17879,농산어촌,왜 어민이 농민보다 세금을 더 내야 합니까?,2019-09-01,28310,2019-07-02,2019-08-01,2019-09-01,2019-10-02
8177,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요),2020-09-12,24685,2020-07-13,2020-08-12,2020-09-12,2020-10-13
77700,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리...",2018-03-11,15603,2018-01-09,2018-02-08,2018-03-11,2018-04-11

,Class,Title,Date,Support,기간A시작,기간B시작,기간C시작,기간C종료
76943,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다",2018-03-21,614127,2018-01-19,2018-02-18,2018-03-21,2018-04-21
20233,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.,2019-05-04,364920,2019-03-04,2019-04-03,2019-05-04,2019-06-04
2374,문화/예술/체육/언론,김어준 편파 정치방송인 교통방송에서 퇴출해주세요,2021-05-09,353314,2021-03-09,2021-04-08,2021-05-09,2021-06-09
12939,안전/환경,텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요,2020-04-17,2715626,2020-02-16,2020-03-17,2020-04-17,2020-05-18
12862,안전/환경,텔레그램 n번방 가입자 전원의 신상공개를 원합니다,2020-04-19,2026252,2020-02-18,2020-03-19,2020-04-19,2020-05-20
40463,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018-11-16,1192049,2018-09-16,2018-10-16,2018-11-16,2018-12-17
84690,미래,조두순 출소반대,2017-12-05,615354,2017-10-05,2017-11-04,2017-12-05,2018-01-05
565,미래,조선일보 폐간시켜주십시요,2021-07-23,303792,2021-05-23,2021-06-22,2021-07-23,2021-08-23
20508,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...,2019-04-28,240529,2019-02-26,2019-03-28,2019-04-28,2019-05-29
12864,육아/교육,저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다,2020-04-19,533883,2020-02-18,2020-03-19,2020-04-19,2020-05-20
53359,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,2018-08-21,413924,2018-06-21,2018-07-21,2018-08-21,2018-09-21
274,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요,2021-08-05,357759,2021-06-05,2021-07-05,2021-08-05,2021-09-05
15133,보건복지,중국인 입국 금지 요청,2020-02-22,761833,2019-12-23,2020-01-22,2020-02-22,2020-03-24
7839,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.,2020-09-23,571995,2020-07-24,2020-08-23,2020-09-23,2020-10-24
14025,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...,2020-03-27,491136,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9301,행정,정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.,2020-08-07,427470,2020-06-07,2020-07-07,2020-08-07,2020-09-07
69826,행정,다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.,2018-05-17,302082,2018-03-17,2018-04-16,2018-05-17,2018-06-17
17075,행정,전 언론의 세무조사를 명령한다.,2019-10-10,227314,2019-08-10,2019-09-09,2019-10-10,2019-11-10
14423,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.",2020-03-23,1449521,2020-01-22,2020-02-21,2020-03-23,2020-04-23
9226,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.",2020-08-09,596410,2020-06-09,2020-07-09,2020-08-09,2020-09-09
9388,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.,2020-08-05,529144,2020-06-05,2020-07-05,2020-08-05,2020-09-05
4396,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...,2021-02-06,275492,2020-12-07,2021-01-06,2021-02-06,2021-03-09
253,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.,2021-08-06,250559,2021-06-06,2021-07-06,2021-08-06,2021-09-06
64819,반려동물,유기견 보호소 폐지를 막아주세요!!!,2018-06-12,226252,2018-04-12,2018-05-12,2018-06-12,2018-07-13
14024,기타,문재인 대통령님을 응원 합니다!,2020-03-27,1504597,2020-01-26,2020-02-25,2020-03-27,2020-04-27
12096,기타,렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요,2020-05-02,1007040,2020-03-02,2020-04-01,2020-05-02,2020-06-02
22102,기타,故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.,2019-04-11,738566,2019-02-09,2019-03-11,2019-04-11,2019-05-12
61316,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2018-07-13,714875,2018-05-13,2018-06-12,2018-07-13,2018-08-13
1089,외교/통일/국방,사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.,2021-07-01,403858,2021-05-01,2021-05-31,2021-07-01,2021-08-01
80449,외교/통일/국방,나경원 의원 평창올림픽 위원직을 파면시켜주세요,2018-02-19,360905,2017-12-20,2018-01-19,2018-02-19,2018-03-22
2606,교통/건축/국토,강원도 차이나타운 건설을 철회해주세요.,2021-04-28,670780,2021-02-26,2021-03-28,2021-04-28,2021-05-29
42555,교통/건축/국토,음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요,2018-11-01,406655,2018-09-01,2018-10-01,2018-11-01,2018-12-02
12705,교통/건축/국토,민식이 법 개정을 청원합니다.,2020-04-22,354857,2020-02-21,2020-03-22,2020-04-22,2020-05-23
19952,정치개혁,자유 한국당 정당해산 청원,2019-05-22,1831900,2019-03-22,2019-04-21,2019-05-22,2019-06-22
14770,정치개혁,문재인 대통령 탄핵을 촉구합니다.,2020-03-05,1469023,2020-01-04,2020-02-03,2020-03-05,2020-04-05
17489,정치개혁,청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!,2019-09-20,757730,2019-07-21,2019-08-20,2019-09-20,2019-10-21
4431,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.,2021-02-05,26068,2020-12-06,2021-01-05,2021-02-05,2021-03-08
32859,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?,2018-12-28,23515,2018-10-28,2018-11-27,2018-12-28,2019-01-28
4740,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...,2021-01-27,22304,2020-11-27,2020-12-27,2021-01-27,2021-02-27
14026,일자리,한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.,2020-03-27,383039,2020-01-26,2020-02-25,2020-03-27,2020-04-27
9820,일자리,공기업 비정규직의 정규화 그만해주십오.,2020-07-23,352266,2020-05-23,2020-06-22,2020-07-23,2020-08-23
85185,일자리,취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다,2017-10-31,80291,2017-08-31,2017-09-30,2017-10-31,2017-12-01
72130,경제민주화,삼성증권 시스템 규제와 공매도 금지,2018-05-06,242286,2018-03-06,2018-04-05,2018-05-06,2018-06-06
6575,경제민주화,홍남기 기재부 장관 해임을 강력히 요청합니다,2020-11-04,242187,2020-09-04,2020-10-04,2020-11-04,2020-12-05
77767,경제민주화,경제민주화,2018-03-10,207772,2018-01-08,2018-02-07,2018-03-10,2018-04-10
17879,농산어촌,왜 어민이 농민보다 세금을 더 내야 합니까?,2019-09-01,28310,2019-07-02,2019-08-01,2019-09-01,2019-10-02
8177,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요),2020-09-12,24685,2020-07-13,2020-08-12,2020-09-12,2020-10-13
77700,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리...",2018-03-11,15603,2018-01-09,2018-02-08,2018-03-11,2018-04-11
83550,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.),2018-01-02,255554,2017-11-02,2017-12-02,2018-01-02,2018-02-02
82197,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?,2018-01-27,228295,2017-11-27,2017-12-27,2018-01-27,2018-02-27
2007,성장동력,은성수 금융위원장의 자진사퇴를 촉구합니다.,2021-05-23,201079,2021-03-23,2021-04-22,2021-05-23,2021-06-23

In [7]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 76943 to 2007
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    51 non-null     object
 1   Title    51 non-null     object
 2   Date     51 non-null     datetime64[ns]
 3   Support  51 non-null     object
 4   기간A시작    51 non-null     datetime64[ns]
 5   기간B시작    51 non-null     datetime64[ns]
 6   기간C시작    51 non-null     datetime64[ns]
 7   기간C종료    51 non-null     datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 3.6+ KB

In [12]:
df_sns = pd.read_csv("test/sns통합.csv", encoding = "cp949")
df_sns.head()

           아이디          날짜                                       내용
0  @Th0masm0re  2017-10-10                  청와대 국민소통 광장   국민청원
1    @_iScent_  2017-10-10                            청와대 국민청원
2   @xiu2_xiu2  2017-10-10                            아 저 국민청원
3   @ansun9788  2017-10-10  청와대 국민소통 광장   국민청원 국민청원    이명박 제조사 원합니다
4      @s17221  2017-10-10                       일베싸이트 폐지 국민청원

In [15]:
sns_temp = df_sns.loc[:,["날짜","내용"]]
sns_temp.head()

           날짜                                       내용
0  2017-10-10                  청와대 국민소통 광장   국민청원
1  2017-10-10                            청와대 국민청원
2  2017-10-10                            아 저 국민청원
3  2017-10-10  청와대 국민소통 광장   국민청원 국민청원    이명박 제조사 원합니다
4  2017-10-10                       일베싸이트 폐지 국민청원

In [19]:
sns_g = sns_temp.groupby("날짜").count()
sns_g = sns_g.reset_index()
sns_g = sns_g.rename(columns={"내용" : "SNS"})
sns_g

              날짜  SNS
0     2017-01-06    1
1     2017-01-08    1
2     2017-01-19    1
3     2017-01-20   12
4     2017-02-04    1
...          ...  ...
1535  2021-08-27  112
1536  2021-08-28  100
1537  2021-08-29   62
1538  2021-08-30   57
1539  2021-08-31   12

[1540 rows x 2 columns]

In [72]:
def count(df1,i):
    display(df1.Title)
    
    sns_g = sns_temp.groupby("날짜").count()
    sns_g = sns_g.reset_index()
    sns_g = sns_g.rename(columns={"내용" : "SNS"})
    
    k_w = input('문자열을 입력하세요: ')
    k_c = k_w.split(",")
    sns_k = sns_temp.loc[sns_temp['내용'].str.contains('|'.join(k_c))]
    sns_k = sns_k.groupby("날짜").count()
    sns_k = sns_k.reset_index()
    sns_k = sns_k.rename(columns={"내용" : "SNS_KeyWord"})
    #display(sns_k.head(20))
    
    sns_t = sns_g.copy()
    #sns_t["SNS_KeyWord"] = 0
    sns_t = pd.merge(sns_t,sns_k,how = "left", on = "날짜") 
    sns_t = sns_t.fillna(0)
    
    df1.Date = pd.to_datetime(df1.Date)
    sns_t.날짜 = pd.to_datetime(sns_t.날짜)
    
    sns_t = sns_t.loc[sns_t["날짜"].values >= df1.기간A시작]
    sns_t = sns_t.loc[sns_t["날짜"].values <=df1.기간C종료]
    
    sns_t["분류"] = df1.Class
    sns_t["내용"] = df1.Title
    
    name = df1.Class.split("/")[0] 
    sns_t.to_csv("{}_{}.csv".format(name,i),encoding = "cp949",index = False)
    
    return sns_t

In [78]:

display(count(df_t.iloc[0,:],0))

'김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다'

문자열을 입력하세요: 김보름

              날짜  SNS_KeyWord
0   2018- 11- 29            1
1   2018- 12- 30            1
2    2018- 2- 19            2
3    2018- 2- 20          183
4    2018- 2- 21          141
5    2018- 2- 22          134
6    2018- 2- 23           68
7    2018- 2- 24           77
8    2018- 2- 25           41
9    2018- 2- 26           38
10   2018- 2- 27           25
11   2018- 2- 28           24
12    2018- 3- 1           14
13   2018- 3- 10            1
14   2018- 3- 14            1
15   2018- 3- 15            3
16   2018- 3- 16            4
17   2018- 3- 19            3
18    2018- 3- 3            9
19    2018- 3- 4            8

,날짜,SNS,SNS_KeyWord,분류,내용
210,2018-01-19,28,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
212,2018-01-20,61,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
213,2018-01-21,59,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
214,2018-01-22,104,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
215,2018-01-23,424,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
...,...,...,...,...,...
407,2018-04-05,48,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
408,2018-04-06,33,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
409,2018-04-07,52,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
410,2018-04-08,146,1.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
411,2018-04-09,113,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"

'김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다'

문자열을 입력하세요: 김보름,장자연

              날짜  SNS_KeyWord
0     2017-12-11            1
1     2017-12-26            2
2   2018- 11- 19            1
3   2018- 11- 29            1
4   2018- 12- 30            2
5    2018- 12- 6            1
6    2018- 2- 19            2
7    2018- 2- 20          183
8    2018- 2- 21          141
9    2018- 2- 22          134
10   2018- 2- 23           68
11   2018- 2- 24           77
12   2018- 2- 25           41
13   2018- 2- 26           38
14   2018- 2- 27           26
15   2018- 2- 28           25
16    2018- 3- 1           14
17   2018- 3- 10            1
18   2018- 3- 11            6
19   2018- 3- 12            6

,날짜,SNS,SNS_KeyWord,분류,내용
210,2018-01-19,28,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
212,2018-01-20,61,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
213,2018-01-21,59,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
214,2018-01-22,104,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
215,2018-01-23,424,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
...,...,...,...,...,...
407,2018-04-05,48,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
408,2018-04-06,33,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
409,2018-04-07,52,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
410,2018-04-08,146,1.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
411,2018-04-09,113,1.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"

In [79]:
for i in range(df_t.Title.nunique()):
    display(count(df_t.iloc[i,:],i%3))

'김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다'

문자열을 입력하세요: 김보름,박지우,선수,자격,자격박탈,적폐,빙상,연맹,보름,지우

            날짜  SNS_KeyWord
0   2017-04-05            2
1   2017-05-24            1
2   2017-05-26            1
3   2017-05-30            1
4   2017-06-08            1
5   2017-06-15            3
6   2017-06-18            2
7   2017-06-22            1
8   2017-07-25            1
9   2017-07-28            1
10  2017-08-07            1
11  2017-08-19            1
12  2017-08-20            2
13  2017-08-21            1
14  2017-08-22            1
15  2017-08-24            1
16  2017-09-07            1
17  2017-09-12           12
18  2017-09-13            2
19  2017-09-15            2

,날짜,SNS,SNS_KeyWord,분류,내용
210,2018-01-19,28,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
212,2018-01-20,61,1.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
213,2018-01-21,59,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
214,2018-01-22,104,2.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
215,2018-01-23,424,7.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
...,...,...,...,...,...
407,2018-04-05,48,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
408,2018-04-06,33,1.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
409,2018-04-07,52,0.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
410,2018-04-08,146,16.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"
411,2018-04-09,113,2.0,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다"

'연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.'

문자열을 입력하세요: 재정보조금,재정,보조금,300억,연합뉴스

             날짜  SNS_KeyWord
0    2017-09-11            1
1    2017-10-12            2
2    2017-10-22            1
3    2017-11-02            2
4    2017-11-08            1
5    2017-11-09            1
6    2017-11-10            2
7    2017-11-11            3
8    2017-11-12            5
9    2017-11-26            9
10   2017-11-27            2
11   2017-12-01            1
12   2017-12-04            1
13   2017-12-06            2
14   2017-12-08            1
15   2017-12-10            5
16   2017-12-11            1
17   2017-12-14            1
18   2017-12-29            1
19  2018- 1- 15            1

,날짜,SNS,SNS_KeyWord,분류,내용
627,2019-03-04,23,0.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
628,2019-03-05,75,1.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
629,2019-03-06,68,0.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
630,2019-03-07,47,0.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
631,2019-03-08,64,1.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
...,...,...,...,...,...
715,2019-05-31,24,0.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
716,2019-06-01,10,0.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
717,2019-06-02,18,0.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
718,2019-06-03,24,8.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.
719,2019-06-04,22,3.0,문화/예술/체육/언론,연합뉴스에 국민혈세로 지급하는 연 300억원의 재정보조금 제도의 전면 폐지를 청원합니다.

'김어준 편파 정치방송인 교통방송에서 퇴출해주세요'

문자열을 입력하세요: 김어준,편파,정치방송,교통방송,퇴출,방송인

              날짜  SNS_KeyWord
0     2017-03-28            3
1     2017-03-29            1
2     2017-12-14            1
3     2017-12-15            1
4    2018- 1- 16            2
5    2018- 1- 17            1
6    2018- 1- 19            1
7    2018- 1- 21            1
8    2018- 1- 22            1
9    2018- 1- 23            1
10  2018- 10- 17            2
11  2018- 10- 27            1
12  2018- 10- 30            7
13  2018- 11- 10            1
14  2018- 11- 11            1
15  2018- 11- 13            1
16  2018- 11- 17            1
17  2018- 11- 19            2
18  2018- 11- 20            2
19  2018- 11- 25            1

             날짜  SNS  SNS_KeyWord           분류                          내용
1364 2021-03-09   44          0.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1365 2021-03-10   64          0.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1366 2021-03-11   49          0.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1367 2021-03-12   54          0.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1368 2021-03-13  142          0.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
...         ...  ...          ...          ...                         ...
1452 2021-06-05   34          4.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1453 2021-06-06   29          2.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1454 2021-06-07   33          1.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1455 2021-06-08   10          0.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요
1456 2021-06-09   59          5.0  문화/예술/체육/언론  김어준 편파 정치방송인 교통방송에서 퇴출해주세요

[93 rows x 5 columns]

'텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요'

문자열을 입력하세요: 텔레그램,텔레,그램,n번방,N번방,박사,조주빈,주빈

              날짜  SNS_KeyWord
0     2017-11-24            1
1     2017-11-28            1
2     2017-12-06            1
3    2018- 10- 9            1
4   2018- 11- 21            1
5    2018- 11- 7            2
6   2018- 12- 18            1
7   2018- 12- 19            1
8    2018- 2- 11            1
9    2018- 2- 17            1
10   2018- 2- 26            1
11   2018- 3- 13            1
12   2018- 3- 19            1
13   2018- 3- 20            1
14   2018- 3- 25            1
15    2018- 3- 3            2
16    2018- 3- 4            1
17    2018- 3- 8            2
18   2018- 4- 21            2
19   2018- 4- 23            1

             날짜  SNS  SNS_KeyWord     분류                              내용
978  2020-02-16    9          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
979  2020-02-17   14          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
980  2020-02-18   19          1.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
981  2020-02-19   53          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
982  2020-02-20   44          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
...         ...  ...          ...    ...                             ...
1066 2020-05-14   48          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
1067 2020-05-15   46          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
1068 2020-05-16   16          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
1069 2020-05-17   29          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요
1070 2020-05-18   52          0.0  안전/환경  텔레그램 n번방 용의자 신상공개 및 포토라인 세워주세요

[93 rows x 5 columns]

'텔레그램 n번방 가입자 전원의 신상공개를 원합니다'

문자열을 입력하세요: 텔레그램,텔레,그램,n번방,N번방,박사,조주빈,주빈,갓갓,박사방

              날짜  SNS_KeyWord
0     2017-11-24            1
1     2017-11-28            1
2     2017-12-06            1
3    2018- 10- 9            1
4   2018- 11- 21            1
5    2018- 11- 7            2
6   2018- 12- 18            1
7   2018- 12- 19            1
8    2018- 2- 11            1
9    2018- 2- 17            1
10   2018- 2- 26            1
11   2018- 3- 13            1
12   2018- 3- 19            1
13   2018- 3- 20            1
14   2018- 3- 25            1
15    2018- 3- 3            2
16    2018- 3- 4            1
17    2018- 3- 8            2
18   2018- 4- 21            2
19   2018- 4- 23            1

             날짜  SNS  SNS_KeyWord     분류                           내용
980  2020-02-18   19          1.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
981  2020-02-19   53          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
982  2020-02-20   44          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
983  2020-02-21   58          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
984  2020-02-22   49          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
...         ...  ...          ...    ...                          ...
1068 2020-05-16   16          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
1069 2020-05-17   29          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
1070 2020-05-18   52          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
1071 2020-05-19  131          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다
1072 2020-05-20   90          0.0  안전/환경  텔레그램 n번방 가입자 전원의 신상공개를 원합니다

[93 rows x 5 columns]

'강서구 피시방 살인 사건. 또 심신미약 피의자입니다.'

문자열을 입력하세요: 강서구,피시방,살인,심신미약,피의자

             날짜  SNS_KeyWord
0    2017-09-05            1
1    2017-10-25            2
2    2017-10-26            1
3    2017-10-29            1
4    2017-11-23            1
5    2017-11-25            1
6    2017-11-29            1
7    2017-11-30            1
8    2017-12-02            1
9    2017-12-04            1
10   2017-12-08            1
11   2017-12-09            1
12   2017-12-26            1
13  2018- 1- 19            2
14  2018- 1- 20            1
15  2018- 1- 21            6
16  2018- 1- 22            1
17  2018- 1- 25            1
18  2018- 1- 27            1
19  2018- 1- 28            2

            날짜  SNS  SNS_KeyWord     분류                             내용
231 2018-10-01   39          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
232 2018-10-10   35          3.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
233 2018-10-11   15          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
234 2018-10-12   46          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
235 2018-10-13   38          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
..         ...  ...          ...    ...                            ...
553 2018-09-26   23          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
554 2018-09-27   45          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
555 2018-09-28   26          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
556 2018-09-29   60          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.
558 2018-09-30   25          0.0  안전/환경  강서구 피시방 살인 사건. 또 심신미약 피의자입니다.

[93 rows x 5 columns]

'조두순 출소반대'

문자열을 입력하세요: 조두순,두순,성범죄자

            날짜  SNS_KeyWord
0   2017-11-04            2
1   2017-11-05            1
2   2017-11-06            1
3   2017-11-07            3
4   2017-11-08           22
5   2017-11-09           29
6   2017-11-10            7
7   2017-11-12            2
8   2017-11-13            2
9   2017-11-14            2
10  2017-11-20            1
11  2017-11-21            2
12  2017-11-22            1
13  2017-11-24            6
14  2017-11-25            5
15  2017-11-27            1
16  2017-11-29            1
17  2017-12-03            3
18  2017-12-04           10
19  2017-12-05            1

            날짜  SNS  SNS_KeyWord  분류        내용
114 2017-10-05   13          0.0  미래  조두순 출소반대
115 2017-10-06    3          0.0  미래  조두순 출소반대
116 2017-10-07   14          0.0  미래  조두순 출소반대
117 2017-10-08    5          0.0  미래  조두순 출소반대
118 2017-10-09    7          0.0  미래  조두순 출소반대
..         ...  ...          ...  ..       ...
200 2018-01-01    4          0.0  미래  조두순 출소반대
211 2018-01-02   33          0.0  미래  조두순 출소반대
222 2018-01-03   17          0.0  미래  조두순 출소반대
225 2018-01-04   40          0.0  미래  조두순 출소반대
226 2018-01-05   30          1.0  미래  조두순 출소반대

[91 rows x 5 columns]

'조선일보 폐간시켜주십시요'

문자열을 입력하세요: 조선일보,폐간

              날짜  SNS_KeyWord
0     2017-05-11            1
1     2017-09-01            1
2     2017-09-26            1
3     2017-11-11            1
4     2017-11-12            2
5     2017-12-11            1
6     2017-12-26            1
7    2018- 1- 13            1
8    2018- 1- 14            1
9    2018- 1- 15            1
10   2018- 1- 16            2
11   2018- 1- 23            2
12   2018- 1- 24            2
13   2018- 1- 26           13
14   2018- 1- 27            2
15   2018- 1- 29            2
16   2018- 1- 30            2
17   2018- 1- 31            1
18    2018- 1- 7            1
19  2018- 11- 19            4

             날짜  SNS  SNS_KeyWord  분류             내용
1439 2021-05-23   30          0.0  미래  조선일보 폐간시켜주십시요
1440 2021-05-24   31          0.0  미래  조선일보 폐간시켜주십시요
1441 2021-05-25   39          0.0  미래  조선일보 폐간시켜주십시요
1442 2021-05-26   25          0.0  미래  조선일보 폐간시켜주십시요
1443 2021-05-27   34          0.0  미래  조선일보 폐간시켜주십시요
...         ...  ...          ...  ..            ...
1527 2021-08-19  253         11.0  미래  조선일보 폐간시켜주십시요
1528 2021-08-20  120          0.0  미래  조선일보 폐간시켜주십시요
1529 2021-08-21  124          0.0  미래  조선일보 폐간시켜주십시요
1530 2021-08-22  180          0.0  미래  조선일보 폐간시켜주십시요
1531 2021-08-23  104          0.0  미래  조선일보 폐간시켜주십시요

[93 rows x 5 columns]

'대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를 청원합니다!!'

문자열을 입력하세요: 세월호참사,특별,특별수사단,재수사

             날짜  SNS_KeyWord
0    2017-01-20            2
1    2017-02-10            1
2    2017-02-13            1
3    2017-05-24            1
4    2017-06-07            1
5    2017-09-06            1
6    2017-10-02            1
7    2017-10-19            1
8    2017-10-22            6
9    2017-10-26            1
10   2017-10-27            2
11   2017-10-29            2
12   2017-11-06            1
13   2017-11-12            2
14   2017-11-15            3
15   2017-11-20           10
16   2017-11-21            5
17   2017-12-11            1
18   2017-12-26            1
19  2018- 1- 16            1

,날짜,SNS,SNS_KeyWord,분류,내용
621,2019-02-26,44,0.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
622,2019-02-27,38,1.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
623,2019-02-28,17,0.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
624,2019-03-01,18,0.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
625,2019-03-02,11,0.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
...,...,...,...,...,...
709,2019-05-25,39,1.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
710,2019-05-26,21,0.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
711,2019-05-27,56,8.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
712,2019-05-28,42,8.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...
713,2019-05-29,41,4.0,미래,대통령님께서 < 세월호참사 특별수사단 >설치와 세월호참사 전면재수사를 지시해주시기를...

'저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다'

문자열을 입력하세요: 25개월딸,개월딸,성폭행

              날짜  SNS_KeyWord
0     2017-10-31            1
1     2017-11-04            2
2     2017-11-05            2
3     2017-11-06            6
4     2017-11-07            1
5     2017-11-09            1
6     2017-11-12            2
7     2017-11-29            1
8     2017-12-04            4
9     2017-12-06            1
10   2018- 1- 10            1
11   2018- 1- 11            4
12   2018- 1- 24           15
13   2018- 1- 25            5
14   2018- 1- 26            2
15   2018- 1- 27            1
16   2018- 1- 30            1
17   2018- 1- 31            1
18    2018- 1- 5            2
19  2018- 10- 15            2

             날짜  SNS  SNS_KeyWord     분류                               내용
980  2020-02-18   19          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
981  2020-02-19   53          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
982  2020-02-20   44          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
983  2020-02-21   58          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
984  2020-02-22   49          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
...         ...  ...          ...    ...                              ...
1068 2020-05-16   16          1.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
1069 2020-05-17   29          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
1070 2020-05-18   52          0.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
1071 2020-05-19  131         16.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다
1072 2020-05-20   90         17.0  육아/교육  저희 25개월딸이 초등학생 5학년에게 성폭행을 당했습니다

[93 rows x 5 columns]

'23개월 아기가 폭행에 장이 끊어져 죽었습니다.'

문자열을 입력하세요: 23개월,개월,아기,아동학대,장파열

              날짜  SNS_KeyWord
0     2017-02-10            1
1     2017-02-13            1
2     2017-10-26            1
3     2017-10-30            2
4     2017-11-06            1
5     2017-11-14            1
6     2017-11-20            2
7     2017-11-21            1
8     2017-11-27            1
9     2017-12-06            1
10    2017-12-07            1
11    2017-12-10            1
12    2017-12-26            1
13    2017-12-27            1
14   2018- 1- 25            2
15  2018- 10- 15            1
16  2018- 10- 16            4
17  2018- 10- 19            1
18  2018- 10- 20            2
19  2018- 10- 24            2

            날짜  SNS  SNS_KeyWord     분류                          내용
456 2018-06-21   80          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
457 2018-06-22   13          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
458 2018-06-23   39          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
459 2018-06-24   81          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
460 2018-06-25   99          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
..         ...  ...          ...    ...                         ...
560 2018-09-05   56          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
561 2018-09-06   26          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
562 2018-09-07   28          0.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
563 2018-09-08   39          4.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.
564 2018-09-09   91          1.0  육아/교육  23개월 아기가 폭행에 장이 끊어져 죽었습니다.

[93 rows x 5 columns]

'열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요'

문자열을 입력하세요: 열일곱,17살,17,아들의 억울함

           날짜  SNS_KeyWord
0  2019-03-15            1
1  2021-05-13            1
2  2021-07-07            1
3  2021-07-19            5
4  2021-07-29            1

,날짜,SNS,SNS_KeyWord,분류,내용
1452,2021-06-05,34,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1453,2021-06-06,29,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1454,2021-06-07,33,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1455,2021-06-08,10,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1456,2021-06-09,59,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
...,...,...,...,...,...
1535,2021-08-27,112,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1536,2021-08-28,100,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1537,2021-08-29,62,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1538,2021-08-30,57,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요
1539,2021-08-31,12,0.0,육아/교육,열일곱 꽃다운 나이에 죽음을 택할 수밖에 없었던 아들의 억울함을 풀어주세요

'중국인 입국 금지 요청'

문자열을 입력하세요: 중국인,입국,금지

            날짜  SNS_KeyWord
0   2017-10-05            1
1   2017-10-24            1
2   2017-10-29            1
3   2017-11-09            1
4   2017-11-10            1
5   2017-11-11          252
6   2017-11-12           69
7   2017-11-13            9
8   2017-11-14            5
9   2017-11-16            3
10  2017-11-17            3
11  2017-11-18            1
12  2017-11-20            1
13  2017-11-23            7
14  2017-11-24            2
15  2017-11-26            1
16  2017-11-29            1
17  2017-12-02            1
18  2017-12-05            2
19  2017-12-06            1

             날짜  SNS  SNS_KeyWord    분류            내용
923  2019-12-23   32          0.0  보건복지  중국인 입국 금지 요청
924  2019-12-24    8          0.0  보건복지  중국인 입국 금지 요청
925  2019-12-25   12          0.0  보건복지  중국인 입국 금지 요청
926  2019-12-26   28          0.0  보건복지  중국인 입국 금지 요청
927  2019-12-27   38          0.0  보건복지  중국인 입국 금지 요청
...         ...  ...          ...   ...           ...
1011 2020-03-20  152         21.0  보건복지  중국인 입국 금지 요청
1012 2020-03-21  227         21.0  보건복지  중국인 입국 금지 요청
1013 2020-03-22  264         10.0  보건복지  중국인 입국 금지 요청
1014 2020-03-23  351         13.0  보건복지  중국인 입국 금지 요청
1015 2020-03-24  244          9.0  보건복지  중국인 입국 금지 요청

[93 rows x 5 columns]

'국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.'

문자열을 입력하세요: 국시,접수,국가고시,의대생,재접수

              날짜  SNS_KeyWord
0     2017-07-09            3
1     2017-07-11            2
2     2017-09-11            1
3     2017-09-25            1
4     2017-10-30            1
5     2017-10-31            1
6     2017-11-20            1
7     2017-11-26            1
8     2017-12-06            1
9     2017-12-07            1
10    2017-12-08            1
11   2018- 1- 12            1
12   2018- 1- 17            1
13  2018- 10- 12            1
14  2018- 11- 23            1
15  2018- 12- 10            1
16  2018- 12- 17            1
17  2018- 12- 30            1
18   2018- 2- 11            1
19   2018- 2- 22            3

,날짜,SNS,SNS_KeyWord,분류,내용
1137,2020-07-24,28,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1138,2020-07-25,26,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1139,2020-07-26,13,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1140,2020-07-27,36,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1141,2020-07-28,57,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
...,...,...,...,...,...
1225,2020-10-20,38,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1226,2020-10-21,52,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1227,2020-10-22,48,0.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1228,2020-10-23,54,1.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.
1229,2020-10-24,31,2.0,보건복지,국시 접수 취소한 의대생들에 대한 재접수 등 추후 구제를 반대합니다.

'코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관계자분들께 감사드립니다.'

문자열을 입력하세요: 확산방지,질병관리본부,정부부처

             날짜  SNS_KeyWord
0   2018- 10- 3            1
1   2018- 11- 2            1
2    2019-04-14            1
3    2019-04-30            1
4    2019-09-11            1
5    2020-02-27           24
6    2020-02-28           19
7    2020-02-29            9
8    2020-03-01            9
9    2020-03-07            3
10   2020-03-08            1
11   2020-03-21            2
12   2020-04-19            1
13   2020-04-22            2
14   2021-05-07            1

,날짜,SNS,SNS_KeyWord,분류,내용
957,2020-01-26,141,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
958,2020-01-27,76,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
959,2020-01-28,79,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
960,2020-01-29,49,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
961,2020-01-30,25,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
...,...,...,...,...,...
1045,2020-04-23,93,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
1046,2020-04-24,75,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
1047,2020-04-25,57,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
1048,2020-04-26,38,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...
1049,2020-04-27,48,0.0,보건복지,코로나19의 확산방지를 위해 애써주시는 문재인대통령님과 질병관리본부 및 정부부처 관...

'정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.'

문자열을 입력하세요: 교회,예배,행사,금지

            날짜  SNS_KeyWord
0   2017-09-04            5
1   2017-09-05            2
2   2017-09-06            2
3   2017-09-08            1
4   2017-09-24            1
5   2017-10-05            1
6   2017-10-22            1
7   2017-10-24            1
8   2017-10-27            1
9   2017-10-29            1
10  2017-11-05            2
11  2017-11-06            1
12  2017-11-09            1
13  2017-11-10            1
14  2017-11-11          252
15  2017-11-12           69
16  2017-11-13            9
17  2017-11-14            5
18  2017-11-16            4
19  2017-11-17            3

             날짜  SNS  SNS_KeyWord  분류                              내용
1090 2020-06-07   21          1.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1091 2020-06-08   26          0.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1092 2020-06-09   20          0.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1093 2020-06-10   31          3.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1094 2020-06-11   21          3.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
...         ...  ...          ...  ..                             ...
1178 2020-09-03   61          3.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1179 2020-09-04   48          4.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1180 2020-09-05  107          1.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1181 2020-09-06   58          0.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.
1182 2020-09-07   49          1.0  행정  정부의 교회 정규 예배 이외 행사 금지를 취소해주세요.

[93 rows x 5 columns]

'다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.'

문자열을 입력하세요: 다산신도시,다산,신도시,실버,택배

              날짜  SNS_KeyWord
0     2017-12-22            1
1    2018- 1- 22            1
2    2018- 1- 30            1
3   2018- 10- 25            1
4    2018- 11- 1            1
5   2018- 11- 15            1
6   2018- 11- 20            1
7   2018- 11- 23            1
8   2018- 12- 20            1
9   2018- 12- 26            1
10  2018- 12- 28            1
11   2018- 2- 13            1
12   2018- 2- 26            1
13   2018- 4- 17            5
14   2018- 4- 18           31
15   2018- 4- 19           26
16   2018- 4- 23            1
17   2018- 5- 28            1
18    2018- 5- 3            1
19    2018- 5- 4            1

            날짜  SNS  SNS_KeyWord  분류                                  내용
359 2018-03-17   44          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
360 2018-03-18   54          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
361 2018-03-19  131          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
363 2018-03-20  111          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
364 2018-03-21  126          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
..         ...  ...          ...  ..                                 ...
468 2018-06-05  173          2.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
469 2018-06-06  104          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
470 2018-06-07   51          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
471 2018-06-08   31          1.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.
472 2018-06-09   90          0.0  행정  다산신도시 실버택배 비용은 입주민들의 관리비로 충당해야합니다.

[93 rows x 5 columns]

'전 언론의 세무조사를 명령한다.'

문자열을 입력하세요: 언론,세무조사

            날짜  SNS_KeyWord
0   2017-03-08            2
1   2017-05-11            1
2   2017-05-26            1
3   2017-06-18            1
4   2017-09-15            1
5   2017-09-24            1
6   2017-09-28            1
7   2017-10-23            1
8   2017-10-27            3
9   2017-11-02            2
10  2017-11-12            2
11  2017-11-13            1
12  2017-11-14            1
13  2017-11-21            1
14  2017-11-26            1
15  2017-12-03            1
16  2017-12-05            1
17  2017-12-06            2
18  2017-12-07            8
19  2017-12-08            7

            날짜  SNS  SNS_KeyWord  분류                 내용
788 2019-08-10   25          0.0  행정  전 언론의 세무조사를 명령한다.
789 2019-08-11   14          1.0  행정  전 언론의 세무조사를 명령한다.
790 2019-08-12   28          0.0  행정  전 언론의 세무조사를 명령한다.
791 2019-08-13   21          0.0  행정  전 언론의 세무조사를 명령한다.
792 2019-08-14   15          0.0  행정  전 언론의 세무조사를 명령한다.
..         ...  ...          ...  ..                ...
876 2019-11-06   85          0.0  행정  전 언론의 세무조사를 명령한다.
877 2019-11-07  115          1.0  행정  전 언론의 세무조사를 명령한다.
878 2019-11-08   51          0.0  행정  전 언론의 세무조사를 명령한다.
879 2019-11-09   30          1.0  행정  전 언론의 세무조사를 명령한다.
880 2019-11-10   35          1.0  행정  전 언론의 세무조사를 명령한다.

[93 rows x 5 columns]

'신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다.'

문자열을 입력하세요: 신천지,천지,예수교,증거장막성전,해산,해체

            날짜  SNS_KeyWord
0   2017-01-19            1
1   2017-02-28            5
2   2017-03-01            1
3   2017-03-04            4
4   2017-03-05            1
5   2017-03-11            3
6   2017-05-26            3
7   2017-05-29            1
8   2017-06-05            1
9   2017-06-15            2
10  2017-06-20            3
11  2017-06-22            1
12  2017-09-11            2
13  2017-09-12           37
14  2017-09-13           16
15  2017-09-14            1
16  2017-09-15            3
17  2017-09-16            3
18  2017-09-17            3
19  2017-09-18            3

,날짜,SNS,SNS_KeyWord,분류,내용
953,2020-01-22,73,0.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
954,2020-01-23,44,0.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
955,2020-01-24,46,5.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
956,2020-01-25,39,0.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
957,2020-01-26,141,8.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
...,...,...,...,...,...
1041,2020-04-19,71,1.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
1042,2020-04-20,75,1.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
1043,2020-04-21,75,6.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
1044,2020-04-22,70,3.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."
1045,2020-04-23,93,4.0,인권/성평등,"신천지 예수교 증거장막성전(이하, 신천지)의 강제 해체(해산)을 청원합니다."

'박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다.'

문자열을 입력하세요: 박원순,서울특별시장,시장,장례

              날짜  SNS_KeyWord
0     2017-10-26            1
1     2017-11-20            2
2     2017-11-21            2
3     2017-12-06            1
4     2017-12-08            1
5     2017-12-19            1
6     2017-12-22            2
7    2018- 1- 11            2
8    2018- 1- 16            1
9    2018- 1- 22            1
10   2018- 1- 24            5
11   2018- 1- 25            1
12   2018- 1- 30            1
13  2018- 10- 15            1
14  2018- 10- 16            1
15  2018- 10- 17            1
16  2018- 10- 18            3
17  2018- 10- 19            3
18   2018- 10- 2            1
19  2018- 10- 20            4

,날짜,SNS,SNS_KeyWord,분류,내용
1092,2020-06-09,20,0.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1093,2020-06-10,31,0.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1094,2020-06-11,21,0.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1095,2020-06-12,33,1.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1096,2020-06-13,29,0.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
...,...,...,...,...,...
1180,2020-09-05,107,0.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1181,2020-09-06,58,0.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1182,2020-09-07,49,1.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1183,2020-09-08,89,2.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."
1184,2020-09-09,88,3.0,인권/성평등,"박원순씨 장례를 5일장, 서울특별시장(葬)으로 하는 것 반대합니다."

'강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.'

문자열을 입력하세요: 강영수,서울고법,수석부장판사,대법관

              날짜  SNS_KeyWord
0     2017-11-23            2
1   2018- 12- 13            2
2   2018- 12- 14            1
3    2018- 2- 15            1
4    2018- 2- 21            2
5     2018- 2- 7            3
6     2018- 2- 8            2
7     2018- 2- 9            1
8    2018- 5- 12            1
9    2018- 5- 15            2
10   2018- 5- 16            1
11   2018- 5- 18            2
12   2018- 5- 19            3
13   2018- 5- 20            1
14   2018- 5- 21            2
15   2018- 5- 22            2
16   2018- 5- 23            6
17   2018- 5- 24            2
18   2018- 5- 25            2
19    2018- 5- 4            4

,날짜,SNS,SNS_KeyWord,분류,내용
1088,2020-06-05,35,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1089,2020-06-06,18,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1090,2020-06-07,21,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1091,2020-06-08,26,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1092,2020-06-09,20,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
...,...,...,...,...,...
1176,2020-09-01,134,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1177,2020-09-02,133,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1178,2020-09-03,61,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1179,2020-09-04,48,1.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.
1180,2020-09-05,107,0.0,인권/성평등,강영수 서울고법 수석부장판사의 대법관 후보 자격 박탈을 청원합니다.

'고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 주십시오.'

문자열을 입력하세요: 고양이,학대,오픈카톡방

              날짜  SNS_KeyWord
0     2017-10-28            1
1     2017-11-10            1
2     2017-11-14            2
3     2017-12-06            1
4     2017-12-10            1
5     2017-12-14           23
6     2017-12-15            1
7     2017-12-27            1
8    2018- 1- 25            1
9   2018- 10- 15            1
10  2018- 10- 16            4
11  2018- 10- 17            1
12  2018- 10- 19            4
13  2018- 10- 20            2
14  2018- 10- 23            1
15  2018- 10- 31            1
16   2018- 11- 2            1
17  2018- 12- 21            1
18  2018- 12- 30            1
19   2018- 2- 16            2

,날짜,SNS,SNS_KeyWord,분류,내용
1272,2020-12-07,39,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1273,2020-12-08,50,1.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1274,2020-12-09,42,1.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1275,2020-12-10,9,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1276,2020-12-11,35,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
...,...,...,...,...,...
1360,2021-03-05,42,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1361,2021-03-06,14,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1362,2021-03-07,38,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1363,2021-03-08,25,0.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...
1364,2021-03-09,44,1.0,반려동물,고양이를 잔혹하게 학대하고 먹는 단체 오픈카톡방 “*****”을 수사하고 처벌하여 ...

'길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.'

문자열을 입력하세요: 길고양이,학대,갤러리

              날짜  SNS_KeyWord
0     2017-11-10            1
1     2017-11-14            2
2     2017-12-06            1
3     2017-12-10            1
4     2017-12-14           23
5     2017-12-27            1
6    2018- 1- 25            1
7   2018- 10- 15            1
8   2018- 10- 16            4
9   2018- 10- 17            1
10  2018- 10- 19            4
11  2018- 10- 20            2
12  2018- 10- 23            1
13  2018- 10- 24            1
14  2018- 10- 31            1
15  2018- 11- 15            1
16  2018- 11- 27            1
17  2018- 11- 28            1
18  2018- 12- 21            1
19  2018- 12- 29            2

,날짜,SNS,SNS_KeyWord,분류,내용
1453,2021-06-06,29,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1454,2021-06-07,33,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1455,2021-06-08,10,2.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1456,2021-06-09,59,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1457,2021-06-10,26,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
...,...,...,...,...,...
1535,2021-08-27,112,1.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1536,2021-08-28,100,1.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1537,2021-08-29,62,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1538,2021-08-30,57,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.
1539,2021-08-31,12,0.0,반려동물,길고양이 학대를 전시하는 ****** 갤러리를 수사하고 처벌하여 주십시오.

'유기견 보호소 폐지를 막아주세요!!!'

문자열을 입력하세요: 유기견,보호소

              날짜  SNS_KeyWord
0    2018- 10- 9            1
1   2018- 11- 28            1
2    2018- 2- 16            1
3    2018- 2- 18            1
4    2018- 5- 15            1
5    2018- 5- 17            1
6    2018- 5- 21            1
7    2018- 5- 22            7
8    2018- 5- 23            1
9    2018- 5- 26            1
10   2018- 5- 30            2
11   2018- 5- 31            2
12   2018- 6- 11            1
13    2018- 6- 2            1
14   2018- 6- 20            7
15   2018- 6- 21            1
16   2018- 6- 27            1
17    2018- 6- 3            1
18    2018- 7- 8            1
19   2018- 8- 26            2

            날짜  SNS  SNS_KeyWord    분류                    내용
385 2018-04-12   74          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
386 2018-04-13   55          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
387 2018-04-14   71          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
388 2018-04-15  117          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
389 2018-04-16  163          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
..         ...  ...          ...   ...                   ...
499 2018-07-05  109          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
500 2018-07-06   65          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
501 2018-07-07   29          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
502 2018-07-08   45          1.0  반려동물  유기견 보호소 폐지를 막아주세요!!!
503 2018-07-09   67          0.0  반려동물  유기견 보호소 폐지를 막아주세요!!!

[93 rows x 5 columns]

'문재인 대통령님을 응원 합니다!'

문자열을 입력하세요: 문재인,대통령

            날짜  SNS_KeyWord
0   2017-03-12            1
1   2017-03-24            1
2   2017-03-28            3
3   2017-03-29            1
4   2017-04-05            2
5   2017-04-18            1
6   2017-05-10            1
7   2017-05-11            1
8   2017-06-06            1
9   2017-06-20            3
10  2017-07-25            1
11  2017-07-31            1
12  2017-08-21            1
13  2017-08-27            1
14  2017-09-02            4
15  2017-09-03            2
16  2017-09-06            1
17  2017-09-11            5
18  2017-09-13            2
19  2017-10-02            1

             날짜  SNS  SNS_KeyWord  분류                 내용
957  2020-01-26  141          2.0  기타  문재인 대통령님을 응원 합니다!
958  2020-01-27   76          1.0  기타  문재인 대통령님을 응원 합니다!
959  2020-01-28   79          3.0  기타  문재인 대통령님을 응원 합니다!
960  2020-01-29   49          1.0  기타  문재인 대통령님을 응원 합니다!
961  2020-01-30   25          0.0  기타  문재인 대통령님을 응원 합니다!
...         ...  ...          ...  ..                ...
1045 2020-04-23   93          1.0  기타  문재인 대통령님을 응원 합니다!
1046 2020-04-24   75         15.0  기타  문재인 대통령님을 응원 합니다!
1047 2020-04-25   57          0.0  기타  문재인 대통령님을 응원 합니다!
1048 2020-04-26   38          2.0  기타  문재인 대통령님을 응원 합니다!
1049 2020-04-27   48          0.0  기타  문재인 대통령님을 응원 합니다!

[93 rows x 5 columns]

'렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요'

문자열을 입력하세요: 렌트카,운전사고,사망사고,10대

              날짜  SNS_KeyWord
0     2017-10-23            1
1   2018- 10- 21            1
2    2018- 10- 4            1
3   2018- 11- 18            1
4   2018- 11- 19            1
5    2018- 11- 5            1
6    2018- 12- 2            1
7    2018- 6- 27            1
8     2018- 8- 2            1
9     2019-02-13            1
10    2019-02-14            2
11    2019-02-15            1
12    2019-03-16            1
13    2019-03-18            1
14    2019-04-19            2
15    2019-05-08            1
16    2019-05-16            1
17    2019-07-12            1
18    2020-01-27            1
19    2020-04-02            3

             날짜  SNS  SNS_KeyWord  분류                            내용
993  2020-03-02   15          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
994  2020-03-03  171          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
995  2020-03-04   75          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
996  2020-03-05  243          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
997  2020-03-06   56          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
...         ...  ...          ...  ..                           ...
1081 2020-05-29   23          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
1082 2020-05-30   26          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
1083 2020-05-31   28          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
1084 2020-06-01   20          0.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요
1085 2020-06-02   23          2.0  기타  렌트카 훔쳐 사망사고를 낸 10대 엄중 처벌해주세요

[93 rows x 5 columns]

'故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.'

문자열을 입력하세요: 장자연

              날짜  SNS_KeyWord
0     2017-12-11            1
1     2017-12-26            2
2   2018- 11- 19            1
3   2018- 12- 30            1
4    2018- 12- 6            1
5    2018- 2- 27            1
6    2018- 2- 28            1
7    2018- 3- 11            6
8    2018- 3- 12            6
9    2018- 3- 13            6
10   2018- 3- 14           10
11   2018- 3- 15            5
12   2018- 3- 16            7
13   2018- 3- 17            7
14   2018- 3- 18            7
15   2018- 3- 19           11
16   2018- 3- 20            5
17   2018- 3- 21            3
18   2018- 3- 22            5
19   2018- 3- 23          212

            날짜  SNS  SNS_KeyWord  분류                             내용
604 2019-02-09   28          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
605 2019-02-10   24          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
606 2019-02-11   35          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
607 2019-02-12   58          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
608 2019-02-13  112          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
..         ...  ...          ...  ..                            ...
692 2019-05-08   49          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
693 2019-05-09   55          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
694 2019-05-10   64          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
695 2019-05-11   29          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.
696 2019-05-12   23          0.0  기타  故장자연씨의 수사 기간 연장 및 재수사를 청원합니다.

[93 rows x 5 columns]

'제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 청원합니다.'

문자열을 입력하세요: 제주도,불법,난민,난민법,무사증,난민신청

            날짜  SNS_KeyWord
0   2017-05-10            1
1   2017-10-08            1
2   2017-10-22            1
3   2017-10-24            1
4   2017-10-25            1
5   2017-10-26            1
6   2017-10-27            1
7   2017-10-31            2
8   2017-11-01            1
9   2017-11-08            4
10  2017-11-12            5
11  2017-11-13            8
12  2017-11-14           31
13  2017-11-16            8
14  2017-11-17           14
15  2017-11-18            5
16  2017-11-21           13
17  2017-11-22            5
18  2017-11-23           16
19  2017-11-27            1

,날짜,SNS,SNS_KeyWord,분류,내용
416,2018-05-13,161,2.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
417,2018-05-14,107,6.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
418,2018-05-15,107,2.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
419,2018-05-16,86,1.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
420,2018-05-17,50,3.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
...,...,...,...,...,...
530,2018-08-05,24,2.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
531,2018-08-06,18,0.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
532,2018-08-07,22,2.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
533,2018-08-08,40,1.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."
534,2018-08-09,46,3.0,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ..."

'사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.'

문자열을 입력하세요: 공군중사,중사,공군

              날짜  SNS_KeyWord
0     2017-10-24            1
1   2018- 10- 10            1
2   2018- 12- 14            1
3   2018- 12- 17            1
4    2018- 5- 16            1
5     2018- 7- 7            1
6    2018- 8- 23            3
7    2018- 8- 29            1
8     2019-03-04            1
9     2019-04-30            1
10    2019-07-10            3
11    2019-09-17            1
12    2019-09-18            5
13    2019-09-24            1
14    2019-09-25            1
15    2019-09-26            1
16    2019-10-01            2
17    2019-12-27            2
18    2020-02-29            1
19    2020-06-12            8

             날짜  SNS  SNS_KeyWord        분류                             내용
1417 2021-05-01   44          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1418 2021-05-02   28          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1419 2021-05-03   70          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1420 2021-05-04   73          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1421 2021-05-05   62          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
...         ...  ...          ...       ...                            ...
1505 2021-07-28   83          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1506 2021-07-29  129          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1507 2021-07-30  138          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1508 2021-07-31   31          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.
1509 2021-08-01   32          0.0  외교/통일/국방  사랑하는 제 딸 공군중사의 억울한 죽음을 밝혀주세요.

[93 rows x 5 columns]

'나경원 의원 평창올림픽 위원직을 파면시켜주세요'

문자열을 입력하세요: 나경원,평창올림픽,위원

             날짜  SNS_KeyWord
0    2017-06-08            1
1    2017-08-20            2
2    2017-09-13            3
3    2017-11-07            1
4    2017-11-15            1
5    2017-11-16            1
6    2017-11-17            1
7    2017-11-21            1
8    2017-11-23            1
9    2017-11-30            1
10   2017-12-01            1
11   2017-12-02            1
12   2017-12-03            1
13   2017-12-06            1
14   2017-12-12            1
15   2017-12-16            1
16   2017-12-21            1
17   2017-12-28            1
18  2018- 1- 11            1
19  2018- 1- 12            1

            날짜  SNS  SNS_KeyWord        분류                         내용
189 2017-12-20   21          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
190 2017-12-21   27          1.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
191 2017-12-22   24          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
192 2017-12-23   35          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
193 2017-12-24   23          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
..         ...  ...          ...       ...                        ...
377 2018-03-05   86          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
378 2018-03-06  126          4.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
379 2018-03-07   78          1.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
380 2018-03-08  104          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요
381 2018-03-09   40          0.0  외교/통일/국방  나경원 의원 평창올림픽 위원직을 파면시켜주세요

[92 rows x 5 columns]

'강원도 차이나타운 건설을 철회해주세요.'

문자열을 입력하세요: 강원도,차이나타운

              날짜  SNS_KeyWord
0     2017-11-29            1
1     2017-12-01            3
2     2017-12-09            1
3    2018- 11- 1            1
4   2018- 11- 19            1
5    2018- 11- 2            1
6    2018- 3- 24            1
7    2018- 5- 28            1
8     2019-02-24            1
9     2019-04-06           15
10    2019-04-07            7
11    2019-04-09            2
12    2019-04-10            1
13    2020-03-01            1
14    2020-03-14            1
15    2020-04-25            1
16    2020-04-28            1
17    2020-05-12            1
18    2020-05-18            1
19    2020-06-04            1

             날짜  SNS  SNS_KeyWord        분류                     내용
1353 2021-02-26    2          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1354 2021-02-27   14          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1355 2021-02-28   43          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1356 2021-03-01   16          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1357 2021-03-02   53          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
...         ...  ...          ...       ...                    ...
1441 2021-05-25   39          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1442 2021-05-26   25          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1443 2021-05-27   34          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1444 2021-05-28   32          2.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.
1445 2021-05-29    2          0.0  교통/건축/국토  강원도 차이나타운 건설을 철회해주세요.

[93 rows x 5 columns]

'음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요'

문자열을 입력하세요: 음주운전,교통사고

              날짜  SNS_KeyWord
0     2017-11-18            3
1     2017-11-24            1
2     2017-12-06            1
3    2018- 1- 16            1
4    2018- 1- 17            3
5    2018- 1- 18            2
6    2018- 1- 21            1
7    2018- 1- 22            2
8    2018- 1- 23            2
9    2018- 1- 26            2
10  2018- 10- 10            6
11  2018- 10- 11            1
12  2018- 10- 12            1
13  2018- 10- 17            1
14  2018- 10- 21            8
15  2018- 10- 22            3
16  2018- 10- 23            1
17  2018- 10- 24            1
18  2018- 10- 27            1
19   2018- 10- 3            1

            날짜  SNS  SNS_KeyWord        분류                                  내용
231 2018-10-01   39          0.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
232 2018-10-10   35          6.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
233 2018-10-11   15          1.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
234 2018-10-12   46          1.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
235 2018-10-13   38          0.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
..         ...  ...          ...       ...                                 ...
560 2018-09-05   56          0.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
561 2018-09-06   26          0.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
562 2018-09-07   28          1.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
563 2018-09-08   39          0.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요
564 2018-09-09   91          0.0  교통/건축/국토  음주운전 교통사고로 친구 인생이 박살났습니다. 제발 도와주세요

[93 rows x 5 columns]

'민식이 법 개정을 청원합니다.'

문자열을 입력하세요: 민식이법,민식이

            날짜  SNS_KeyWord
0   2019-10-13            2
1   2019-10-14            2
2   2019-11-19           13
3   2019-11-20            3
4   2019-11-22            1
5   2019-11-30            3
6   2019-12-01            2
7   2019-12-02            1
8   2019-12-03            2
9   2019-12-04            1
10  2019-12-10            1
11  2019-12-12            2
12  2019-12-13            1
13  2019-12-14            3
14  2019-12-15            4
15  2020-01-15            1
16  2020-03-25            9
17  2020-03-26            1
18  2020-03-27            3
19  2020-03-28           40

             날짜  SNS  SNS_KeyWord        분류                내용
983  2020-02-21   58          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
984  2020-02-22   49          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
985  2020-02-23  185          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
986  2020-02-24   66          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
987  2020-02-25   14          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
...         ...  ...          ...       ...               ...
1071 2020-05-19  131          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
1072 2020-05-20   90          4.0  교통/건축/국토  민식이 법 개정을 청원합니다.
1073 2020-05-21   37          4.0  교통/건축/국토  민식이 법 개정을 청원합니다.
1074 2020-05-22   50          0.0  교통/건축/국토  민식이 법 개정을 청원합니다.
1075 2020-05-23   30          1.0  교통/건축/국토  민식이 법 개정을 청원합니다.

[93 rows x 5 columns]

'자유 한국당 정당해산 청원'

문자열을 입력하세요: 자유한국당,한국당

            날짜  SNS_KeyWord
0   2017-04-05            2
1   2017-09-06            1
2   2017-09-11            1
3   2017-09-12           35
4   2017-09-13           16
5   2017-09-14            1
6   2017-09-15            2
7   2017-09-16            3
8   2017-09-17            3
9   2017-09-18            3
10  2017-09-19            1
11  2017-09-21            2
12  2017-09-22            1
13  2017-09-23            2
14  2017-09-24            2
15  2017-09-25            1
16  2017-09-26            1
17  2017-09-27            1
18  2017-09-28            1
19  2017-10-22            1

            날짜  SNS  SNS_KeyWord    분류              내용
645 2019-03-22   17          0.0  정치개혁  자유 한국당 정당해산 청원
646 2019-03-23   23          0.0  정치개혁  자유 한국당 정당해산 청원
647 2019-03-24   25          0.0  정치개혁  자유 한국당 정당해산 청원
648 2019-03-25   29          0.0  정치개혁  자유 한국당 정당해산 청원
649 2019-03-26   21          0.0  정치개혁  자유 한국당 정당해산 청원
..         ...  ...          ...   ...             ...
733 2019-06-18   34          0.0  정치개혁  자유 한국당 정당해산 청원
734 2019-06-19   22          0.0  정치개혁  자유 한국당 정당해산 청원
735 2019-06-20   26          0.0  정치개혁  자유 한국당 정당해산 청원
736 2019-06-21   19          0.0  정치개혁  자유 한국당 정당해산 청원
737 2019-06-22   19          1.0  정치개혁  자유 한국당 정당해산 청원

[93 rows x 5 columns]

'문재인 대통령 탄핵을 촉구합니다.'

문자열을 입력하세요: 문재인,탄핵,대통령

            날짜  SNS_KeyWord
0   2017-02-20            1
1   2017-02-21            1
2   2017-03-04            4
3   2017-03-05            1
4   2017-03-08            2
5   2017-03-11            3
6   2017-03-12            1
7   2017-03-24            1
8   2017-03-28            3
9   2017-03-29            1
10  2017-04-05            2
11  2017-04-18            1
12  2017-05-10            1
13  2017-05-11            1
14  2017-06-06            1
15  2017-06-20            3
16  2017-07-25            1
17  2017-07-31            1
18  2017-08-21            1
19  2017-08-27            1

             날짜  SNS  SNS_KeyWord    분류                  내용
935  2020-01-04  363          1.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
936  2020-01-05  313          0.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
937  2020-01-06  135          2.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
938  2020-01-07   88          0.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
939  2020-01-08   66          0.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
...         ...  ...          ...   ...                 ...
1023 2020-04-01   57          1.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
1024 2020-04-02  101          4.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
1025 2020-04-03   75          0.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
1026 2020-04-04   55          2.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.
1027 2020-04-05   57          2.0  정치개혁  문재인 대통령 탄핵을 촉구합니다.

[93 rows x 5 columns]

'청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!'

문자열을 입력하세요: 청와대,조국,법무부장관,법무부

            날짜  SNS_KeyWord
0   2017-02-04            1
1   2017-03-04            4
2   2017-03-05            1
3   2017-05-11            1
4   2017-08-17            1
5   2017-08-22            1
6   2017-08-25            2
7   2017-08-26            4
8   2017-08-27            1
9   2017-08-28            2
10  2017-08-29            3
11  2017-08-31            6
12  2017-09-01            5
13  2017-09-02            9
14  2017-09-03            5
15  2017-09-04           10
16  2017-09-05           13
17  2017-09-06            7
18  2017-09-07            3
19  2017-09-08            3

            날짜  SNS  SNS_KeyWord    분류                                  내용
766 2019-07-21   25          7.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
767 2019-07-22   35         18.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
768 2019-07-23   40         15.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
769 2019-07-24   20          8.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
770 2019-07-25   12          7.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
..         ...  ...          ...   ...                                 ...
856 2019-10-17   11          6.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
857 2019-10-18   23          9.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
858 2019-10-19   20         12.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
859 2019-10-20   28         15.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!
860 2019-10-21   50         32.0  정치개혁  청와대는 조국 법무부장관 후보자의 임명을 반드시 해주십시오!!

[95 rows x 5 columns]

'서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.'

문자열을 입력하세요: 서울시임신출산정보센터,임신출산,담당작성자

           날짜  SNS_KeyWord
0  2021-01-06            1

,날짜,SNS,SNS_KeyWord,분류,내용
1271,2020-12-06,48,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1272,2020-12-07,39,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1273,2020-12-08,50,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1274,2020-12-09,42,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1275,2020-12-10,9,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
...,...,...,...,...,...
1359,2021-03-04,27,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1360,2021-03-05,42,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1361,2021-03-06,14,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1362,2021-03-07,38,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.
1363,2021-03-08,25,0.0,저출산/고령화대책,서울시임신출산정보센터 논란글 담당작성자와 책임자 징계 및 공개 사과를 요구합니다.

'[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?'

문자열을 입력하세요: 출산,장려금,출산장려금

              날짜  SNS_KeyWord
0     2017-11-24            1
1     2017-12-01            1
2     2017-12-12            1
3   2018- 10- 19            1
4    2018- 10- 4            1
5   2018- 11- 14            1
6   2018- 11- 26            2
7    2018- 12- 1            1
8    2018- 2- 19            1
9    2018- 3- 29            1
10   2018- 4- 20            1
11   2018- 5- 11            1
12   2018- 5- 29            2
13   2018- 6- 26            1
14   2018- 7- 19            1
15   2018- 8- 12            1
16    2018- 9- 1            1
17    2018- 9- 2            2
18   2018- 9- 28            1
19   2018- 9- 29            1

,날짜,SNS,SNS_KeyWord,분류,내용
251,2018-10-28,19,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
252,2018-10-29,40,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
254,2018-10-30,59,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
255,2018-10-31,42,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
262,2018-11-01,48,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
...,...,...,...,...,...
588,2019-01-24,130,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
589,2019-01-25,75,1.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
590,2019-01-26,88,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
591,2019-01-27,49,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?
592,2019-01-28,70,0.0,저출산/고령화대책,[[출산 장려금]]250만원...보여주기식 출산율 높이기를 위함인가요?

'저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 교직원 인건비를 지원해주세요'

문자열을 입력하세요: 어린이집,저출생,폐원

              날짜  SNS_KeyWord
0     2017-10-25            1
1     2017-12-13            2
2     2017-12-14           24
3     2017-12-18            1
4     2017-12-19            1
5     2018- 1- 8            1
6   2018- 10- 10            1
7   2018- 10- 13            1
8   2018- 10- 15            1
9   2018- 10- 16            2
10  2018- 10- 17            1
11  2018- 10- 28            1
12   2018- 11- 5            4
13   2018- 11- 6            1
14   2018- 11- 7            1
15   2018- 11- 8            3
16   2018- 11- 9            1
17   2018- 3- 16            1
18   2018- 7- 16            3
19   2018- 7- 18            5

,날짜,SNS,SNS_KeyWord,분류,내용
1262,2020-11-27,207,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1263,2020-11-28,136,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1264,2020-11-29,80,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1265,2020-11-30,111,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1266,2020-12-01,40,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
...,...,...,...,...,...
1350,2021-02-23,64,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1351,2021-02-24,95,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1352,2021-02-25,35,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1353,2021-02-26,2,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...
1354,2021-02-27,14,0.0,저출산/고령화대책,저출생과 코로나19로 인해 폐원 위기에 몰린 어린이집1 -어린이집 유형에 관계없이 ...

'한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.'

문자열을 입력하세요: 한전,한국전력,중국기업

             날짜  SNS_KeyWord
0   2018- 6- 24            1
1    2018- 7- 3            1
2   2018- 7- 31            2
3    2018- 7- 4            1
4    2018- 7- 5            1
5    2018- 8- 2            1
6    2018- 8- 3            1
7    2018- 8- 8            1
8   2018- 9- 14            2
9    2019-01-13            1
10   2019-04-09            2
11   2019-04-23            2
12   2019-04-25            1
13   2019-05-03            1
14   2019-10-01            1
15   2019-10-09            1
16   2019-12-07            1
17   2020-02-27            5
18   2020-02-29            1
19   2020-04-27            2

             날짜  SNS  SNS_KeyWord   분류                                  내용
957  2020-01-26  141          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
958  2020-01-27   76          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
959  2020-01-28   79          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
960  2020-01-29   49          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
961  2020-01-30   25          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
...         ...  ...          ...  ...                                 ...
1045 2020-04-23   93          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
1046 2020-04-24   75          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
1047 2020-04-25   57          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
1048 2020-04-26   38          0.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.
1049 2020-04-27   48          2.0  일자리  한전 사업에 중국 기업의 참여를 허락하는 것은 말도 안됩니다.

[93 rows x 5 columns]

'공기업 비정규직의 정규화 그만해주십오.'

문자열을 입력하세요: 공기업,비정규직,정규화

              날짜  SNS_KeyWord
0     2017-10-24            1
1     2017-11-27            1
2     2017-12-13            2
3   2018- 10- 27            1
4   2018- 11- 20            1
5   2018- 11- 23            3
6     2018- 2- 9            1
7    2018- 3- 15            1
8     2018- 3- 9            1
9    2018- 6- 27            1
10   2018- 6- 29            1
11   2018- 7- 12            1
12    2018- 7- 4            1
13    2018- 9- 3            2
14    2018- 9- 4            1
15    2019-04-08            1
16    2019-06-05            1
17    2019-06-06            1
18    2019-11-07            1
19    2020-06-22            1

             날짜  SNS  SNS_KeyWord   분류                     내용
1075 2020-05-23   30          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1076 2020-05-24   20          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1077 2020-05-25   58          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1078 2020-05-26   45          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1079 2020-05-27   30          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
...         ...  ...          ...  ...                    ...
1163 2020-08-19  103          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1164 2020-08-20   54          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1165 2020-08-21  114          4.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1166 2020-08-22   86          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.
1167 2020-08-23   49          0.0  일자리  공기업 비정규직의 정규화 그만해주십오.

[93 rows x 5 columns]

'취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다'

문자열을 입력하세요: 취업,취준생,청년,청년취업

              날짜  SNS_KeyWord
0     2017-05-10            1
1     2017-05-30            1
2     2017-06-15            1
3     2017-10-02            1
4     2017-10-23            1
5     2017-11-04            1
6     2017-12-19            1
7    2018- 1- 18            2
8    2018- 1- 20            1
9    2018- 1- 23            1
10   2018- 1- 29            3
11   2018- 1- 30            2
12   2018- 1- 31            1
13  2018- 10- 10            1
14  2018- 10- 17            1
15  2018- 10- 18            1
16  2018- 10- 27            1
17   2018- 10- 6            2
18   2018- 10- 8            2
19   2018- 10- 9            2

            날짜  SNS  SNS_KeyWord   분류                                  내용
79  2017-08-31    7          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
80  2017-09-01    5          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
81  2017-09-02   11          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
82  2017-09-03   14          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
83  2017-09-04   31          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
..         ...  ...          ...  ...                                 ...
166 2017-11-27   75          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
167 2017-11-28   36          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
168 2017-11-29   32          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
169 2017-11-30   40          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다
170 2017-12-01  163          0.0  일자리  취준생 딸을 둔 엄마가 대통령님께 청년 취업 관련 청원드립니다

[92 rows x 5 columns]

'삼성증권 시스템 규제와 공매도 금지'

문자열을 입력하세요: 삼성증권,공매도

              날짜  SNS_KeyWord
0     2017-10-31            1
1   2018- 10- 17            1
2    2018- 10- 2            1
3    2018- 10- 7            1
4     2018- 2- 6            1
5    2018- 3- 16            1
6    2018- 3- 28            2
7    2018- 4- 10           31
8    2018- 4- 11            1
9    2018- 4- 12            3
10   2018- 4- 15            1
11   2018- 4- 17            5
12   2018- 4- 18           23
13   2018- 4- 19            4
14   2018- 4- 20            2
15   2018- 4- 25            1
16    2018- 4- 3            1
17    2018- 4- 6            2
18    2018- 4- 7           11
19    2018- 4- 8           43

            날짜  SNS  SNS_KeyWord     분류                   내용
352 2018-03-10   11          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
353 2018-03-11   58          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
354 2018-03-12   65          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
355 2018-03-13   52          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
356 2018-03-14   59          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
..         ...  ...          ...    ...                  ...
454 2018-06-02   29          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
465 2018-06-03   29          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
467 2018-06-04   23          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
468 2018-06-05  173          5.0  경제민주화  삼성증권 시스템 규제와 공매도 금지
469 2018-06-06  104          0.0  경제민주화  삼성증권 시스템 규제와 공매도 금지

[93 rows x 5 columns]

'홍남기 기재부 장관 해임을 강력히 요청합니다'

문자열을 입력하세요: 홍남기,기재부,기재부 장관

             날짜  SNS_KeyWord
0    2017-11-23            1
1    2017-12-20            1
2   2018- 2- 14            2
3    2018- 8- 2            1
4    2019-01-03            1
5    2019-01-16            1
6    2019-04-10            1
7    2019-12-12            2
8    2020-03-03            1
9    2020-04-01            1
10   2020-04-27            1
11   2020-08-01            1
12   2020-08-30            1
13   2020-10-06            1
14   2020-10-07            4
15   2020-10-08            2
16   2020-10-20            2
17   2020-10-21            2
18   2020-10-22            1
19   2020-10-26            2

             날짜  SNS  SNS_KeyWord     분류                        내용
1179 2020-09-04   48          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1180 2020-09-05  107          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1181 2020-09-06   58          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1182 2020-09-07   49          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1183 2020-09-08   89          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
...         ...  ...          ...    ...                       ...
1266 2020-12-01   40          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1267 2020-12-02   35          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1268 2020-12-03   40          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1269 2020-12-04   28          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다
1270 2020-12-05   27          0.0  경제민주화  홍남기 기재부 장관 해임을 강력히 요청합니다

[92 rows x 5 columns]

'경제민주화'

문자열을 입력하세요: 경제민주화

              날짜  SNS_KeyWord
0   2018- 10- 12            1
1   2018- 10- 13            1
2   2018- 10- 15            1
3    2018- 10- 8            1
4    2018- 2- 10            5
5    2018- 2- 11            2
6    2018- 2- 12            5
7    2018- 2- 13           10
8    2018- 2- 14            6
9    2018- 2- 15            2
10   2018- 2- 16            7
11   2018- 2- 17            6
12   2018- 2- 18            4
13   2018- 2- 19            2
14   2018- 2- 20            5
15   2018- 2- 21            3
16   2018- 2- 22            3
17   2018- 2- 23           14
18    2018- 2- 8           21
19    2018- 2- 9           20

            날짜  SNS  SNS_KeyWord     분류     내용
201 2018-01-10   19          0.0  경제민주화  경제민주화
202 2018-01-11   68          0.0  경제민주화  경제민주화
203 2018-01-12   47          0.0  경제민주화  경제민주화
204 2018-01-13   43          0.0  경제민주화  경제민주화
205 2018-01-14   30          0.0  경제민주화  경제민주화
..         ...  ...          ...    ...    ...
407 2018-04-05   48          0.0  경제민주화  경제민주화
408 2018-04-06   33          0.0  경제민주화  경제민주화
409 2018-04-07   52          0.0  경제민주화  경제민주화
410 2018-04-08  146          0.0  경제민주화  경제민주화
411 2018-04-09  113          4.0  경제민주화  경제민주화

[93 rows x 5 columns]

'왜 어민이 농민보다 세금을 더 내야 합니까?'

문자열을 입력하세요: 어민,농민

              날짜  SNS_KeyWord
0     2017-11-26            1
1   2018- 10- 27            1
2   2018- 11- 28            1
3    2018- 11- 3            1
4   2018- 12- 12           17
5   2018- 12- 13           12
6   2018- 12- 14            6
7   2018- 12- 15            4
8   2018- 12- 16            2
9   2018- 12- 17            1
10  2018- 12- 18            1
11  2018- 12- 19            1
12  2018- 12- 20            3
13   2018- 2- 11            1
14   2018- 2- 15            1
15    2018- 2- 8            1
16    2018- 3- 8            1
17   2018- 4- 20            1
18   2018- 5- 27            1
19    2018- 5- 6            1

            날짜  SNS  SNS_KeyWord    분류                        내용
747 2019-07-02   24          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
748 2019-07-03   24          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
749 2019-07-04   52          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
750 2019-07-05   27          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
751 2019-07-06   19          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
..         ...  ...          ...   ...                       ...
837 2019-09-28   17          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
838 2019-09-29   14          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
839 2019-09-30   27          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
840 2019-10-01   43          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?
841 2019-10-02   20          0.0  농산어촌  왜 어민이 농민보다 세금을 더 내야 합니까?

[95 rows x 5 columns]

'한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)'

문자열을 입력하세요: 김산업,일본,일본종속화,일본 종속화

              날짜  SNS_KeyWord
0     2017-06-06            2
1     2017-10-14            1
2     2017-11-08            1
3     2017-11-10            1
4     2017-11-17            2
5     2017-11-23            1
6     2017-12-05            1
7     2017-12-06            1
8    2018- 1- 23            1
9    2018- 1- 24            1
10   2018- 1- 30            1
11   2018- 1- 31            1
12   2018- 10- 1            1
13  2018- 10- 18            1
14  2018- 10- 27            1
15   2018- 10- 3            1
16  2018- 10- 30            2
17   2018- 10- 9            1
18  2018- 11- 11            1
19  2018- 11- 16            1

,날짜,SNS,SNS_KeyWord,분류,내용
1126,2020-07-13,73,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1127,2020-07-14,16,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1128,2020-07-15,36,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1129,2020-07-16,27,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1130,2020-07-17,29,1.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
...,...,...,...,...,...
1214,2020-10-09,45,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1215,2020-10-10,46,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1216,2020-10-11,64,1.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1217,2020-10-12,54,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)
1218,2020-10-13,66,0.0,농산어촌,한국 김산업의 일본 종속화를 막아주세요 (한국 김산업 다 망하게 생겼어요)

'무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리를 보장해 주세요'

문자열을 입력하세요: 축사 적법화,축사 양성화,적법화,양성화

            날짜  SNS_KeyWord
0  2018- 3- 20            1

,날짜,SNS,SNS_KeyWord,분류,내용
201,2018-01-10,19,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
202,2018-01-11,68,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
203,2018-01-12,47,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
204,2018-01-13,43,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
205,2018-01-14,30,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
...,...,...,...,...,...
407,2018-04-05,48,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
408,2018-04-06,33,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
409,2018-04-07,52,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
410,2018-04-08,146,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."
411,2018-04-09,113,0.0,농산어촌,"무(미)허가 축사 적법화로 일자리를 빼앗지 말고, 무(미)허가 축사 양성화로 일자리..."

'전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)'

문자열을 입력하세요: 전안법

             날짜  SNS_KeyWord
0    2017-11-26            1
1    2017-11-29            1
2    2017-12-01            1
3    2017-12-07            1
4    2017-12-10            1
5    2017-12-18            1
6    2017-12-20            1
7    2017-12-22            4
8    2017-12-26            6
9    2017-12-27            9
10   2017-12-28            8
11   2017-12-29            2
12  2018- 1- 26            1
13  2018- 2- 22            1
14   2018- 2- 6            2

,날짜,SNS,SNS_KeyWord,분류,내용
141,2017-11-02,9,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
142,2017-11-03,3,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
143,2017-11-04,9,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
144,2017-11-05,8,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
145,2017-11-06,17,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
...,...,...,...,...,...
228,2018-01-07,20,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
229,2018-01-08,16,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
230,2018-01-09,13,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
323,2018-02-01,48,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)
334,2018-02-02,32,0.0,성장동력,전안법 합리적으로 개정 또는 폐지해주세요.(소상공인 소비자 모두 죽는법안입니다.)

'<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?'

문자열을 입력하세요: 가상화폐규제반대

            날짜  SNS_KeyWord
0  2018- 1- 16            2

,날짜,SNS,SNS_KeyWord,분류,내용
166,2017-11-27,75,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
167,2017-11-28,36,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
168,2017-11-29,32,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
169,2017-11-30,40,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
170,2017-12-01,163,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
...,...,...,...,...,...
346,2018-02-05,149,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
347,2018-02-06,599,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
348,2018-02-07,50,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
349,2018-02-08,148,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?
350,2018-02-09,87,0.0,성장동력,<가상화폐규제반대> 정부는 국민들에게 단 한번이라도 행복한 꿈을 꾸게 해본적 있습니까?

'은성수 금융위원장의 자진사퇴를 촉구합니다.'

문자열을 입력하세요: 은성수,금융,금융위원장

             날짜  SNS_KeyWord
0    2017-11-17            1
1   2018- 1- 11            2
2   2018- 3- 13            1
3   2018- 3- 22            1
4   2018- 3- 25            1
5   2018- 3- 26            1
6   2018- 3- 30            2
7    2018- 3- 6            1
8   2018- 4- 10            1
9   2018- 4- 11            1
10  2018- 4- 18            5
11  2018- 4- 22            2
12  2018- 4- 23            1
13  2018- 4- 26            1
14   2018- 4- 3            1
15   2018- 4- 7            1
16   2018- 4- 8            2
17   2018- 4- 9            2
18  2018- 5- 28            2
19  2018- 5- 29            2

             날짜  SNS  SNS_KeyWord    분류                       내용
1378 2021-03-23   54          1.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1379 2021-03-24   55          2.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1380 2021-03-25   45          2.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1381 2021-03-26   46          1.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1382 2021-03-27   55          3.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
...         ...  ...          ...   ...                      ...
1466 2021-06-19   35          1.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1467 2021-06-20   13          2.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1468 2021-06-21    9          0.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1469 2021-06-22    8          1.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.
1470 2021-06-23   16          0.0  성장동력  은성수 금융위원장의 자진사퇴를 촉구합니다.

[93 rows x 5 columns]